<!-- <div class="body-sink"></div> --> 

<div class="l-wrapper" id="search_form_drop">
  <div class="l-section">
    <form class="l-grid l-section h-space-mvm inflate-baritone" action="/residential/search" method="get" id='search_form'> 
      <h3 class="h-type-center h-space-mbs">Search Residential Listings</h3>
      
      <div class="grid-row">
        <div class="grid-unit-1of3">
          <section class="l-section">
            <label class="h-float-left">Price Range</label>
          </section> <!-- .l-section -->
          
          <section class="l-section-bevel m-select-combo">
            <div class="m-select">
              <select id="current_price_gte" name="current_price_gte">
                <option value="" selected="selected">Select</option>
                <% (10000..50000).step(10000) do |x| %><option value="<%= x %>"><%= number_to_currency(x, :precision => 0) %></option><% end %>
                <% (100000..1000000).step(50000) do |x| %><option value="<%= x %>"><%= number_to_currency(x, :precision => 0) %></option><% end %>                
              </select>
            </div> <!-- .m-select -->
            
            <span>To</span>
            
            <div class="m-select">
              <select id="current_price_lte" name="current_price_lte">
                <option value="" selected="selected">Select</option>
                <% (10000..50000).step(10000) do |x| %><option value="<%= x %>"><%= number_to_currency(x, :precision => 0) %></option><% end %>
                <% (100000..1000000).step(50000) do |x| %><option value="<%= x %>"><%= number_to_currency(x, :precision => 0) %></option><% end %>
              </select>
            </div> <!-- .m-select -->
          </section> <!-- .l-section-bevel -->
        </div> <!-- .grid-unit -->
        
        <div class="grid-unit-1of3">
          <div class="l-section">
            <label class="h-float-left">How Many Beds?</label>
          </div> <!-- .l-section -->
          
          <section class="l-section-bevel m-select-combo">
            <div class="m-select">
              <select id="bedrooms_gte" name="bedrooms_gte">
                <option value="">Any</option>
                <% (1..5).each do |x| %><option value="<%= x %>"><%= x %></option><% end %>               
              </select>
            </div> <!-- .m-select -->
            
            <span>To</span>
            
            <div class="m-select">
              <select id="bedrooms_lte" name="bedrooms_lte">
                <option value="">Any</option>
                <% (1..5).each do |x| %><option value="<%= x %>"><%= x %></option><% end %>
              </select>
            </div> <!-- .m-select -->
          </section> <!-- .l-section-bevel -->
        </div> <!-- .grid-unit -->
        
        <div class="grid-unit-1of3">
          <section class="l-section">
            <label for="prop_type">Property Type</label>
          </section>  <!-- .l-section -->
          
          <div class="l-section-bevel">
            <div class="m-select">
              <select id="prop_type" name="prop_type">
                <option value="">Select</option>
                <% CabooseRets::ResidentialProperty.pluq('prop_type').each do |f| %>
                  <option value="<%= f %>"> <%= f.titleize %></option>
                <% end %>
              </select>
            </div>  <!-- .m-select -->
          </div> <!-- .l-section -->
        </div> <!-- .grid-unit -->
      </div> <!-- .grid-row -->
      
      <div class="grid-row">
        <div class="grid-unit-1of3">
          <div class="l-section">
            <label for="mls_acct">MLS #</label>
          </div> <!-- .l-section -->
          
          <div class="l-media">
                
            <div class="media-body">
              <div class="l-section-bevel">
                <input class="search-input" id="mls_acct" name="mls_acct" type="text" class="fix_placeholder" placeholder="Enter Here" />
              </div> <!-- .l-section -->
            </div> <!-- .sidebar-body -->
          </div> <!-- .l-media -->
        </div> <!-- .grid-unit -->
      
        <div class="grid-unit-1of3">
          <div class="l-section">
            <label for="tot_heat_sqft">Square Feet</label>
          </div> <!-- .l-section -->
          
          <section class="l-section-bevel m-select-combo">
            <div class="m-select">
              <select id="tot_heat_sqft_gte" name="tot_heat_sqft_gte">
                <option value="" selected="selected">Select</option>
                <% (250..4000).step(250) do |x| %><option value="<%= x %>"><%= number_with_delimiter(x) %></option><% end %>
              </select>
            </div> <!-- .m-select -->
            
            <span>To</span>
            
            <div class="m-select">
              <select id="tot_heat_sqft_lte" name="tot_heat_sqft_lte">
                <option value="" selected="selected">Select</option>
                <% (250..4000).step(250) do |x| %><option value="<%= x %>"><%= number_with_delimiter(x) %></option><% end %>
              </select>
            </div> <!-- .m-select -->
          </section> <!-- .l-section-bevel -->
                    
        </div><!-- .grid-unit -->
        
        <div class="grid-unit-1of3">
					<div class="l-section">
						<label for="acreage">Acreage</label>
					</div> <!-- .l-section -->					
					<section class="l-section-bevel m-select-combo">
						<div class="m-select">
							<select id="acreage_gte" name="acreage_gte">
								<option value="" selected="selected">Select</option>
								<% (0.0...10 ).step(0.5) do |x| %><option value="<%= x %>"><%= number_with_delimiter(x, :precision => 1) %></option><% end %>
								<% (10...20  ).step(  1) do |x| %><option value="<%= x %>"><%= number_with_delimiter(x, :precision => 0) %></option><% end %>
								<% (20...100 ).step(  5) do |x| %><option value="<%= x %>"><%= number_with_delimiter(x, :precision => 0) %></option><% end %>
								<% (100..1000).step( 50) do |x| %><option value="<%= x %>"><%= number_with_delimiter(x, :precision => 0) %></option><% end %>																
							</select>
						</div> <!-- .m-select -->						
						<span>To</span>						
						<div class="m-select">
							<select id="acreage_lte" name="acreage_lte">
								<option value="" selected="selected">Select</option>
								<% (0.0...10 ).step(0.5) do |x| %><option value="<%= x %>"><%= number_with_delimiter(x, :precision => 1) %></option><% end %>
								<% (10...20  ).step(  1) do |x| %><option value="<%= x %>"><%= number_with_delimiter(x, :precision => 0) %></option><% end %>
								<% (20...100 ).step(  5) do |x| %><option value="<%= x %>"><%= number_with_delimiter(x, :precision => 0) %></option><% end %>
								<% (100..1000).step( 50) do |x| %><option value="<%= x %>"><%= number_with_delimiter(x, :precision => 0) %></option><% end %>
							</select>
						</div> <!-- .m-select -->
					</section> <!-- .l-section-bevel -->										
				</div><!-- .grid-unit -->
                
      </div> <!-- .grid-row -->
      
      <div class="grid-row">
        <div class="grid-unit-1of3">
          <div class="l-section">
            <label for="elem_school">Elementary School</label>
          </div> <!-- .l-section -->
          <div class="l-section-bevel">
            <div class="m-select">
              <select id="elem_school" name="elem_school">
                <option value="">Select</option>
                <% CabooseRets::ResidentialProperty.pluq('elem_school').each do |f| %>
                <option value="<%= f %>"><%= f.titleize %></option>
                <% end %>
              </select>
            </div> <!-- .l-section -->
          </div> <!-- .m-select -->
        </div> <!-- .grid-unit -->

        <div class="grid-unit-1of3">
          <div class="l-section">
            <label for="middle_school">Middle School</label>
          </div> <!-- .l-section -->
          
          <div class="l-section-bevel">
            <div class="m-select">
              <select id="middle_school" name="middle_school">
                <option value="">Select</option>
                <% CabooseRets::ResidentialProperty.pluq('middle_school').each do |f| %>
                  <option value="<%= f %>"><%= f.titleize %></option>
                <% end %>               
              </select>
            </div> <!-- .m-select -->
          </div> <!-- .l-section -->
        </div> <!-- .grid-unit -->

        <div class="grid-unit-1of3">
          <div class="l-section">
            <label for="high_school">High School</label>
          </div> <!-- .l-section -->
          
          <div class="l-section-bevel">
            <div class="m-select">
              <select id="high_school" name="high_school">
                <option value="">Select</option>
                <% CabooseRets::ResidentialProperty.pluq('high_school').each do |f| %>
                  <option value="<%= f %>"><%= f.titleize %></option>
                <% end %>
              </select>
            </div> <!-- .m-select -->
          </div> <!-- .l-section -->
        </div> <!-- .grid-unit -->
      </div> <!-- .grid-row -->

      <div class="grid-row">
        <div class="grid-unit-1of3">
          <div class="l-section">
            <label for="address_like">Street</label>
          </div> <!-- .l-section -->
          
          <div class="l-section-bevel">
            <input id="address_like" name="address_like" type="text" class="fix_placeholder" placeholder="Street" />
          </div> <!-- .l-section -->
        </div> <!-- .grid-unit -->
        
        <div class="grid-unit-1of3">
          <div class="l-section">
            <label for="neighborhood">Neighborhood</label>
          </div> <!-- .l-section -->
          
          <div class="l-section-bevel">
            <div class="m-select">
                <select id="subdivision" name="subdivision">
                <option value="">Neighborhood</option>
                <% CabooseRets::ResidentialProperty.pluq('subdivision').each do |f| %>
                <option value="<%= f %>"><%= f.titleize %></option>
                <% end %>
              </select>
            </div> <!-- .m-select -->
          </div> <!-- .l-section -->
        </div> <!-- .grid-unit -->
        
        <div class="grid-unit-1of3">
          <div class="l-section">
            <label for="remarks_like">Search Keyword</label>
          </div> <!-- .l-section -->
          
          <div class="l-section-bevel">
            <input id="remarks" name="remarks_like" type="text" class="fix_placeholder" placeholder="Keywords" />
          </div>
        </div> <!-- .grid-unit -->
        
      </div> <!-- .grid-row -->
      
      <div class="grid-row">

        <div class="grid-unit-1of3">
          <div class="l-section"><label for="latest">Show listings created when?</label></div>
          <div class="l-section-bevel">
            <div class="m-select">              
              <select id="date_created_gte" name="date_created_gte">
                <option value="">All Listings</option>
                <% d = DateTime.now - 3  %><option value="<%= d.strftime('%F') %>">In the past 3 days</option>
                <% d = DateTime.now - 7  %><option value="<%= d.strftime('%F') %>">In the past 7 days</option>
                <% d = DateTime.now - 30 %><option value="<%= d.strftime('%F') %>">In the past month</option>
              </select>
            </div> <!-- .l-section -->
          </div> <!-- .m-select -->
        </div> <!-- .grid-unit -->

        <div class="grid-unit-1of3">
          <section class="l-section">
            <label class="h-float-left">Waterfront</label>
            <label class="h-float-right">Golf Course</label>
          </section> <!-- .l-section -->
          <section class="l-section-bevel m-select-combo">    
            <div class="m-select">
              <select id="waterfront" name="waterfront">
                <option value="" selected="selected">Select</option>
                <option value="Lake Tuscaloosa">Lake</option>
                <option value="River">River</option>
                <option value="Other">Other</option>
                <option value="">No</option>        
              </select>
            </div> <!-- .m-select -->
            <div class="m-select">
              <select id="ftr_lotdesc_like" name="ftr_lotdesc_like">
                <option value="" selected="selected">Select</option>
                <option value="golf">Yes</option>
                <option value="">No</option>        
              </select>
            </div> <!-- .m-select -->
          </section>          
        </div> <!-- .grid-unit -->        

        <!--
        <div class="grid-unit-1of3">
          <div class="l-section"><label for="status">Property Status</label></div>
          <div class="l-section-bevel">
            <div class="m-select">
              <select id="status" name="status">
                <option value="">All</option>
                <% CabooseRets::ResidentialProperty.pluq('status').each do |x| %>
                  <option value="<%= x %>" <% if x == 'Active'%> selected="selected" <% end %> ><%= x %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        -->

        <div class="l-section-drop">
          <input class="m-btn-red btn-large" style='float:right;' type="submit" value="Search" onclick='search_properties(); return false;' />          
        </div> <!-- .l-section -->
      </div>
    </form> <!-- .l-grid  -->

  </div> <!-- .l-section -->
</div> <!-- .l-wrapper -->

