
<% content_for :caboose_css do %>
  <style type="text/css">
  #recaptcha_area, #recaptcha_table { width: auto !important; }
  #recaptcha_image { width: 80% !important; }
  #recaptcha_image img { width:80% !important; margin-left: -20%; padding: 0px; }
  fieldset.captcha { width:100px !important; }
  #recaptcha_container { margin: 0px; padding: 0px; width: 157px !important; }
  input#recaptcha_response_field { padding: 0px; }
  #recaptcha_widget_div { width: 150%; }
  .realtor_info { background-color: white; padding: 10px; margin-bottom: 20px; text-align: center; border: 1px solid #d0d0d0;}
  </style>
<% end %>

<div class="l-wrapper">
  <div class="l-section">
    <div class="l-sidebar-border inflate-tenor-baritone">
      <div class="sidebar-aside">
        <% if @agent %>
          <div class="realtor_info">
            <h4>Advantage Agent</h4>
            <img src="<%= @agent.image_url(:thumb) %>?<%= DateTime.now.strftime('%F') %>" alt="<%= @agent.first_name %> <%= @agent.last_name %>" />
            <br />
            <a href="/agents/<%= @agent.la_code %>"><%= @agent.first_name %> <%= @agent.last_name %></a><br>
            <a href="tel:<%= @agent.car_phone %>"><%= @agent.car_phone %></a>
            <% co_agent = CabooseRets::Agent.where(:la_code => p.co_la_code).first %>
            <% if co_agent %>          
              <h4>Advantage Co-Agent</h4>            
              <img src="<%= co_agent.image_url(:thumb) %>?<%= DateTime.now.strftime('%F') %>" alt="<% if co_agent.designation %><%= co_agent.designation %> <% end %><%= co_agent.first_name %> <%= co_agent.last_name %>" />
              <br />
              <a href="/agents/<%= co_agent.la_code %>"><%= co_agent.first_name %> <%= co_agent.last_name %></a><br>
              <a href="tel:<%= co_agent.car_phone %>"><%= co_agent.car_phone %></a>          
            <% end %>
          </div>
        <% end %>
        <address class="h-type-h5">
          <% if !@property.unit_num.nil? && @property.unit_num.strip.length > 0 %>Unit <%= @property.unit_num %>, <% end %>
          <%= @property.street_num %> <%= @property.street_name.titleize %><br />
          <%= @property.city.titleize %>, <%= @property.state %> <%= @property.zip %>
        </address>
        <p class="h-space-mvs h-type-highlight h-type-h4"> <%=h number_to_currency @property.current_price %>          
          <!-- if @property.foreclosure_yn == 'Y' -->
        </p>        
        <p class="h-space-mvs h-type-highlight h-type-h4">
          MLS #<%= @property.mls_acct %>
          <a id='save_property'   class="button_to m-btn-red h-space-mtm" <% if @saved  %>style="display:none;"<% end %>>Save Property</a>
          <a id='unsave_property' class="button_to m-btn-red h-space-mtm" <% if !@saved %>style="display:none;"<% end %>>Unsave Property</a>
        </p>

        <% if @property.street_num && @property.street_name && @property.city && @property.state && @property.zip %>
        <div class="m-map-small h-border h-space-mbm" address="<%= @property.street_num %> <%= @property.street_name %> <%= @property.city %>, <%= @property.state %> <%= @property.zip %>"></div>
        <% end %>
        
        
        <h4 class="h-space-mvt">Directions</h4>
        <p class="paragraph"><%= @property.directions %></p>
        <h4 class="h-space-mvt">Neighborhood Information</h4>
        
        <ul class="m-list-pad">
          <li><strong>Area</strong>: <%= @property.area.titleize %></li>
          <% if @property.subdivision %><li><strong>Subdivision</strong>: <%= @property.subdivision.titleize %></li><% end %>
          <% if @property.elem_school %><li><strong>Elementary School</strong>: <%= @property.elem_school.titleize %></li><% end %>
          <% if @property.middle_school %><li><strong>Middle School</strong>: <%= @property.middle_school.titleize %></li><% end %>
          <% if @property.high_school %><li><strong>High School</strong>: <%= @property.high_school.titleize %></li><% end %>
          <li><strong>County</strong>: <%= @property.county.titleize %></li>          
        </ul>
        
        <% if @agent %>
           <h4 class="h-space-mvt">Contact <%= @agent.first_name %> <%= @agent.last_name %> </h4>
        <% else %>
           <h4 class="h-space-mvt">Contact Advantage</h4>
        <% end %>
        
        <form action='/contact/property' method='post' class="m-form" id="contact_form">
          <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>" />
          <input type='hidden' name='contact_mls_acct' id='contact_mls_acct' value='<%= @property.mls_acct %>' />
					<input type='text'   name='contact_name'     id="contact_name"     value='' placeholder="Name"    maxlength="150" />
					<input type='text'   name='contact_email'    id="contact_email"    value='' placeholder="Email"   maxlength="150" />
					<textarea            name='contact_body'     id="contact_body"              placeholder="Message" cols="50" rows="4"  class="contact_message"></textarea>
				  <p><%= recaptcha_tags %></p>
				  <div id='contact_message'></div>
				  <p><input class="m-btn-red btn-large h-float-right h-space-mts" type="submit" value="Send" onclick='post_contact_form(); return false;' /></p>
				</form>
        
      </div> <!-- .sidebar-aside -->
      
      <div class="sidebar-body">
        <div class="photos" style="text-align: center;">
          <% if @property.images && @property.images.count > 0 %>
            <% large_img = @property.images[0].image_url(:large) %>
            <a class="photo" style="display: block; margin: 25px;" href="<%= large_img %>"><img src="<%= large_img %>"/></a>
            <div style="display: block;">
              <% @property.images.each_index do |i| %>
                <% next if i == 0 %>
                <% m = @property.images[i] %>
                <% if i != 2 && (i - 2) % 8 == 0 %></div><div style="display: block;"><% end %>
                <a class="photo" style="float: left; display: block; width: 12.5%; padding: 2px;" href="<%= m.image_url(:large) %>">
                  <img style="display: block; width: 100%;" src="<%= m.image_url(:tiny) %>"/>
                </a>
              <% end %>
            </div>
          <% end %>
        </div>
        <div style="clear: both;"></div><br />
        <p class="paragraph"><%= @property.remarks %></p>
        <h4 class="h-type-standard h-type-highlight h-type-caps h-space-mts">Property Details</h4>
        <h5 class="h-type-standard">Single Family Home</h5>
        
        <ul class="m-list-bullet h-space-mts">
          <% if @property.price_sqft != "" %><li><strong>Price/Sq. Ft.</strong>: <span id='square_footage'><%=h number_to_currency @property.price_sqft %></span></li><% end %>          
          <% if @property.acreage    != "" %><li><strong>Acreage</strong>: <%= @property.acreage %></li><% end %>
        </ul> <!-- .m-list-bullet -->
        <h4 class="h-type-standard h-type-highlight h-type-caps h-space-mts">Features</h4>
        
        <ul>
          <% if @property.ftr_interior %><li><strong>Interior</strong>: <%=   @property.ftr_interior %> </li><% end %>
          <% if @property.ftr_cooling  %><li><strong>Cooling</strong>: <%=    @property.ftr_cooling  %> </li><% end %>          
        </ul>
        <br>        

        <a data-pin-do="buttonPin" data-pin-config="beside" href="//pinterest.com/pin/create/button/?url=<%= request.original_url %>&amp;media=<%= large_img % 1 %>" ></a>
      </div> <!-- .sidebar-body -->
    </div> <!-- .l-sidebar -->
  </div> <!-- .body-section -->
</div> <!-- .l-wrapper -->

<div class="body-sink"></div>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose_rets/caboose_rets" %>
<%= javascript_include_tag '//assets.pinterest.com/js/pinit.js' %>
<%= javascript_include_tag 'details_colorbox' %>
<script type="text/javascript">

CabooseRets.mls_acct = <%= @property.mls_acct %>;

function post_contact_form()
{ 
  $.ajax({
    url: '/contact/property',
    type: 'post',
    data: $('#contact_form').serialize(),      
    success: function(resp) {
      if (resp.error)    $('#contact_message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.success)  $('#contact_message').html("<p class='note success'>" + resp.success + "</p>");
      if (resp.redirect) window.location = resp.redirect;
    }  
  });
}

if (document.contains('square_footage')) {
  var str = document.getElementById('square_footage').innerHTML;
  str = str.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  document.getElementById('square_footage').innerHTML = str;
}

<% if !flash[:notice].blank? %>
  alert('<%= flash[:notice] %>');
<% end %>
</script>
<% end %>
