<%
# Commercial property details
p = @property
%>

<div class="l-wrapper c-prop">
  <div class="l-section">
    <div class="l-sidebar-border inflate-tenor-baritone">
      <div class="sidebar-aside">
        <% if @agent %>
          <div class="realtor_info">
            <h4>Advantage Agent</h4>            
            <img src="<%= @agent.image_url(:thumb) %>?<%= DateTime.now.strftime('%F') %>" alt="<% if @agent.designation %><%= @agent.designation %> <% end %><%= @agent.first_name %> <%= @agent.last_name %>" />
            <br />
            <a href="/agents/<%= @agent.la_code %>"><%= @agent.designation if agent.designation? %> <%= @agent.first_name %> <%= @agent.last_name %></a><br>
            <a href="tel:<%= @agent.car_phone %>"><%= @agent.car_phone %></a>
            <% co_agent = CabooseRets::Agent.where(:la_code => p.co_la_code).first %>
            <% if co_agent %>          
              <h4>Advantage Co-Agent</h4>            
              <img src="<%= co_agent.image_url(:thumb) %>?<%= DateTime.now.strftime('%F') %>" alt="<% if co_agent.designation %><%= co_agent.designation %> <% end %><%= co_agent.first_name %> <%= co_agent.last_name %>" />
              <br />
              <a href="/agents/<%= co_agent.la_code %>"><%= co_agent.first_name %> <%= co_agent.last_name %></a><br>
              <a href="tel:<%= co_agent.car_phone %>"><%= co_agent.car_phone %></a>          
            <% end %>
          </div>
        <% end %>
        <% if p.sale_lease %>
          <h4 class="h-type-highlight sale_lease"><%= p.sale_lease %></h4>
        <% end %>        
        <address class="h-type-h5">
          <% if p.street_num && p.street_name %> <%= p.street_num %> <%= p.street_name.titleize %> <% end %><br />
          <%= p.city.titleize %>, <%= p.state %> <% if p.zip != '0' %> <%= p.zip %>
        </address>
        
       <!-- <p id="price" class="h-space-mvs h-type-highlight h-type-h4"><%=h number_to_currency(p.current_price, :precision => 0) %></p> --> 
        <!--
        <% if p.sale_lease %>
          <p id="mls" class="h-space-mvs h-type-highlight h-type-h4">MLS #<%=p.mls_acct%></p>
        <% end %>
        --> 
        <% if p.street_num && p.street_name && p.city && p.state && p.zip %>
          <div class="m-map-small h-border h-space-mbm" address="<%=p.street_num%> <%=p.street_name%> <%=p.city%>, <%=p.state%> <%=p.zip%>"></div>
        <% end %>
       <% if p.tot_heat_sqft.to_i > 0 %>
        <h4 class="h-space-mvt">Space Available</h4>
        <span class="sqfeet"><%= p.tot_heat_sqft %> RSF</span>
        <% end %>
        <h4 class="h-space-mvt">Property Details</h4>

        <ul class="details">
          <% if p.ftr_interior != "" %><li>Interior:      <%= p.ftr_interior %></li><% end %>
          <% if p.ftr_cooling  != "" %><li>Cooling:       <%= p.ftr_cooling  %></li><% end %>
          <% if p.ftr_heating  != "" %><li>Heating:       <%= p.ftr_heating  %></li><% end %>
          <% if p.year_built   != "" %><li>Year Built:    <%= p.year_built   %></li><% end %>
          <% if p.prop_type    != "" %><li>Property Type: <%= p.prop_type    %></li><% end %>
          <% if p.ftr_style    != "" %><li>Style:         <%= p.ftr_style    %></li><% end %>
          <% if p.ftr_flooring != "" %><li>Flooring:      <%= p.ftr_flooring %></li><% end %>
        </ul>
        
        <% if @agent %>
           <h4 class="h-space-mvt">Contact <%= @agent.designation if agent.designation? %> <%= @agent.first_name %> <%= @agent.last_name %> </h4>
        <% else %>
           <h4 class="h-space-mvt">Contact Advantage</h4>
        <% end %>        
        <form action='/contact/property' method='post' class="m-form" id="contact_form">
          <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>" />
          <input type='hidden' name='contact_mls_acct' id='contact_mls_acct' value='<%= @property.mls_acct %>' />
					<input type='text'   name='contact_name'     id="contact_name"     value='' placeholder="Name"    maxlength="150" />
					<input type='text'   name='contact_email'    id="contact_email"    value='' placeholder="Email"   maxlength="150" />
					<textarea            name='contact_body'     id="contact_body"              placeholder="Message" cols="50" rows="4"  class="contact_message"></textarea>
				  <p><%= recaptcha_tags %></p>
				  <div id='contact_message'></div>
				  <p><input class="m-btn-red btn-large h-float-right h-space-mts" type="submit" value="Send" onclick='post_contact_form(); return false;' /></p>
				</form> 
               
      </div> <!-- .sidebar-aside -->
      
      <div class="sidebar-body">
        <h4><% if p.street_num && p.street_name %> <%= p.street_num %> <%= p.street_name.titleize %> <% end %></h4>
        <h5 class="h-space-mbm"><%= p.city.titleize %>, <%= p.state %></h5>

        <div class="photos" style="text-align: center;">
          <p>
          <input type='button' value='<' onclick='gallery.previous_image();' id='previous_image' />
          <input type='button' value='>' onclick='gallery.next_image();' id='next_image' />
          </p>
          <div id='large_image'></div>
          <div id='large_caption'></div>
          <div style="display: block;">
            <% @property.images.each_index do |i| %>            
              <% m = @property.images[i] %>
              <% img = @property.images[i].image %>
              <a class="photo" id='image_trigger_<%= m.id %>' style="float: left; display: block; width: 12.5%; padding: 2px;" href="<%= m.image_url(:large) %>" data-index="<%= i %>">
                <img style="display: block; width: 100%;" src="<%= m.image_url(:thumb) %>"/>
              </a>                
            <% end %>              
          </div>
        </div>
        <div style="clear: both;"></div>        
        <% if p.price_sqft.to_i > 0 %>
        <h4 class="h-type-standard h-type-highlight h-type-caps">Lease Rate</h4>
        
        <ul class="m-list-bullet h-space-mts lease_rate">
          <% if p.price_sqft != "" %><li><%=h number_to_currency p.price_sqft%> PSF</li><% end %>
     <!--     <% if p.acreage != "" %><li><strong>Acreage</strong>: <%=p.acreage%></li><% end %> --> 
        </ul> <!-- .m-list-bullet -->
        <% end %>
        <h4 class="h-type-standard h-type-highlight h-type-caps h-space-mts">Property Comments</h4>
        <p class="paragraph"><%=p.remarks%></p><br />
        <p>Directions:</p>
        <p class="paragraph"><%=p.directions%></p>
        
        <br>
        <% if p.virtual_tour %><a href='<%= p.virtual_tour %>' target='_blank'>Virtual Tour</a><% end %>

        <a data-pin-do="buttonPin" data-pin-config="beside" href="//pinterest.com/pin/create/button/?url=<%= request.original_url %>&amp;media=<%= @property.images[0].image_url(:large) %>" ></a>
      </div> <!-- .sidebar-body -->
    </div> <!-- .l-sidebar -->
  </div> <!-- .body-section -->
</div> <!-- .l-wrapper -->
<% end %>


<div class="body-sink"></div>

<% content_for :caboose_js do %>
<%= javascript_include_tag "property_gallery" %>
<%= javascript_include_tag "caboose_rets/caboose_rets" %>
<%= javascript_include_tag '//assets.pinterest.com/js/pinit.js' %>
<script type="text/javascript">

CabooseRets.mls_acct = <%= @property.mls_acct %>;

var gallery = false;
$(document).ready(function() {
  var images = [];
  <% 
  if @property.images && @property.images.count > 0
    @property.images.each_index do |i|  
      m = @property.images[i]
      next if m.nil? || m.image.nil?
      %>
      images.push({ 
        thumb_url: <%= raw Caboose.json(m.image_url(:thumb)) %>, 
        large_url: <%= raw Caboose.json(m.image_url(:large)) %>, 
        caption:   <%= raw Caboose.json(m.media_remarks)     %>
      });
      <%
    end            
  end
  %>
  gallery = new PropertyGallery({ images: images });
  gallery.show_image(0);
});

function post_contact_form()
{ 
  $.ajax({
    url: '/contact/property',
    type: 'post',
    data: $('#contact_form').serialize(),      
    success: function(resp) {
      if (resp.error)    $('#contact_message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.success)  $('#contact_message').html("<p class='note success'>" + resp.success + "</p>");
      if (resp.redirect) window.location = resp.redirect;
    }  
  });
}

$.fn.digits = function() { 
    return this.each(function(){ 
      $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
    })
  }
  $('.sqfeet').digits();

$(document).ready(function(){
  $('.photo').colorbox({rel:'photo'});
});

<% unless flash[:notice].blank? %>
  alert('<%= flash[:notice] %>');
<% end %>

</script>
<% end %>

<% content_for :caboose_css do %>
  <style type="text/css">
  .realtor_info { background-color: white; padding: 10px; margin-bottom: 20px; text-align: center; border: 1px solid #d0d0d0;}
  </style>
<% end %>
