<style type="text/css">
#recaptcha_area, #recaptcha_table {width: auto !important;}
#recaptcha_image {width: 175px !important;}
#recaptcha_image img{width:100% !important;padding: 0px;}
fieldset.captcha{width:157px !important;}
#recaptcha_image {width:157px !important;}
#recaptcha_container {margin: 0px;padding: 0px;width: 157px !important;}
input#recaptcha_response_field{padding:0px;}
</style>

<div class="l-wrapper">
	<div class="l-sidebar inflate-bass h-space-ptm">
		<div class="sidebar-aside"><a class="m-btn btn-red" href="/agents">Back to Agents</a></div>
		<div class="sidebar-body">
		  <% if !@agent.hide && (@agent.lo_code == '46' || @agent.lo_code == 'SPACES') %>
		    <h3><%= @agent.first_name %> <%= @agent.last_name %></h3>
		  <% else %>
		    <p class='note error'>No Advantage Realty agent with that agent code exists.</p>
		    <p>&nbsp;</p>
		    <p>&nbsp;</p>
		  <% end %>		  
		</div>
	</div> <!-- .l-sidebar -->
</div> <!-- .l-wrapper -->

<% if !@agent.hide && (@agent.lo_code == '46' || @agent.lo_code == 'SPACES') %>
  <div class="l-wrapper">
  	<div class="body-section">
  		<div class="l-sidebar inflate-bass sidebar-border h-space-pbm">		  
  			<div class="sidebar-aside">				
  				<figure class="h-space-mvm"><img src="<%= @agent.image_url(:large) %>?<%= DateTime.now.strftime('%F') %>" width="150" class="h-border"  /></figure>				
  				<% if @agent.contact_info.nil? || @agent.contact_info.strip.length == 0 %>
              <% if @agent.office_phone.strip.length > 0  %><p><small><strong>Work Phone: </strong></small> <a href="tel:<%=    @agent.office_phone %>"><%= @agent.office_phone  %></a></p><% end %>
            	<% if @agent.car_phone.strip.length    > 0  %><p><small><strong>Cell Phone: </strong></small> <a href="tel:<%=    @agent.car_phone    %>"><%= @agent.car_phone     %></a></p><% end %>
            	<% if @agent.home_phone.strip.length   > 0  %><p><small><strong>Home Phone: </strong> </small><a href="tel:<%=    @agent.home_phone   %>"><%= @agent.home_phone    %></a></p><% end %>
            	<% if @agent.member_email.strip.length > 0  %><p><small><strong>Email:      </strong> </small><a href="mailto:<%= @agent.member_email %>"><%= @agent.member_email  %></a></p><% end %>
          <% else %>
            <%= raw @agent.contact_info %>						  
          <% end %>
          <hr />			
  			  <h4><i class="m-icon-contact"></i> Contact Agent</h4>
  			  <form action="/contact/create" method="post" class="m-form h-space-pbm">
  			  <input type='hidden' name='la_code' value="<%= @agent.la_code %>" />
  			  <input type='text' placeholder="Full Name" name='contact_name'    id="contact_name"    maxlength="150" />
  			  <input type='text' placeholder="Email"     name='contact_address' id="contact_address" maxlength="150" />
  			  <textarea name="contact_message" id="contact_message" placeholder="Message" cols="50" rows="4" class="contact_message"></textarea>					
  			  <%= recaptcha_tags :noscript => false %>			
  			  <input class="m-btn btn-right btn-red h-space-mts" type="submit" value="submit">
  			  </form>			
  			</div> <!-- .sidebar-aside -->		
  			<div class="sidebar-body">
  				<article><%= raw @agent.bio %></article>
  				<hr />
  				
  				<% @property_groups.select{ |pg| !pg[:properties].empty? }.each do |pg| %>
  					<h4><%= pg[:title] %></h4>					
  					<ul class="m-list-border">
  					<% pg[:properties].each do |l| %>  					  
  						<li class="l-media inflate-bass center-on-mobile">
  							<figure class="media-aside">
  								<a href="/<%= pg[:url_prefix] %>/<%= l.mls %>/details"><img src='<%= l.images && l.images.count > 0 ? l.images[0].image_url(:thumb) : "" %>'class="h-border" width="150" /></a>
  							</figure>
  							<div class="media-body h-pos">
  								<p class="pos-top-right h-type-highlight"><strong>MLS#<%=l.mls%></strong></p>
  
  								<% if l.street_num != '0' && l.street_name != "" %>
  
  									<h5>
  										<% if l.unit_num != "" %>
  											Unit <%= l.unit_num %>, 
  										<% end %>
  										<%=l.street_num%> <%=l.street_name.titleize %>
  									</h5>
  								<% end %>
  
  								<p><small><%=l.city.titleize %>, <%=l.state%> <%=l.zip%></small></p>
  								
  								<div class="l-grid grid-row inflate-tenor">
  									<div class="grid-unit-1of4">
  										<% if pg[:type] == 'RES' || pg[:type] == 'COM' %>
  											<a class="m-btn btn-red" href="/<%= pg[:url_prefix] %>/<%= l.mls %>/details">See More</a>
  										<% else %>
  											<p>&nbsp;</p>
  										<% end %>
  									</div>
  									<% if pg[:type] == 'RES' %>
  										<div class="grid-unit-1of4">Beds<br /><%= l.bedrooms %></div>
  										<div class="grid-unit-1of4">Baths<br />
  										  <%= l.baths_full %> full <% if l.baths_half != "" && l.baths_half != "0" %> &amp; <%= l.baths_half %> half<% end %>  										
  										</div>
  									<% end %>
  									<div class="grid-unit-1of4">Price<br />
  										<% if l.current_price.nil? || l.current_price == '0' || l.current_price == 0 %>
  											Available Upon Inquiry<% else %><%= h number_to_currency(l.current_price, :precision => 0) %>
  										<% end %>
  									</div>
  								</div> <!-- .l-grid -->
  							</div> <!-- .media-body -->
  						</li>
  					<% end %>
  					</ul>
  				<% end %>
  
  			</div> <!-- .sidebar-body -->
  		</div> <!-- .l-sidebar -->
  		
  		<hr />
  		
  		<footer class="section-foot"><%= raw Caboose::Setting.value_for('footer_text') %></footer>
  	</div> <!-- .body-section -->
  </div> <!-- .l-wrapper -->
<% end %>

<div class="body-sink"></div>



<% unless flash[:notice].blank? %>
<script type="text/javascript">
	alert('<%= flash[:notice] %>');
</script>
<% end %>