
<!-- residential -->
<div class="l-wrapper">
  <a class="m-btn h-space-mtm" href="/search/residential" id="show_search_form">Search Residential Listings</a>  
  <% if logged_in_user %>
    <% if saved_search %>
      <a id='saved_searches_button' href='/saved-searches' class="button_to m-btn h-space-mtm">This search is saved.  View Saved Searches.</a>
    <% else %>
      <a id="save_search_button" class="button_to m-btn-red h-space-mtm">Notify Me of Future Listings</a>
    <% end %>
  <% else %>    
    <a href='/login?return_url=<%= request.fullpath %>' id='login' class="button_to m-btn-red h-space-mtm">Notify me of future listings that match this search</a>    
  <% end -%>

  <%= block.partial('rets_residential_search_form', local_assigns) %>

  <div class="l-sidebar-border inflate-tenor-baritone h-space-pvm">   
    <div class="sidebar-body l-grid-border">
      <p></p>
      <div class="l-grid inflate-baritone-bass listing">
        <% properties = properties.reject{ |p| p.prop_type.blank? || p.mls_acct.blank? || p.street_num.blank? || p.street_name.blank? || p.nil? } %>
        <% if properties.nil? || properties.count == 0 %>
          <div class='no-results'>No results found</div>
        <% else %>
          <% properties.each do |p| %>            
            <%= block.partial('rets_residential_row', local_assigns.merge({:p => p})) %>             
          <% end %>
          <%= pager.generate.html_safe %>
        <% end %>
      </div>
    </div> <!-- .sidebar-body -->
  </div> <!-- .l-sidebar -->
</div> <!-- .l-wrapper -->

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose_rets/caboose_rets" %>
<%= javascript_include_tag "properties" %>
<script type='text/javascript'>

CabooseRets.search_params = {  
  uri: "<%= request.fullpath %>",
  property_type: "residential",
  params: <%= raw Caboose.json(pager.params) %>
};

function input_val(el) {
  t = $(el).attr('type');
  if (t == 'button' || t == 'submit')
    return false;
  val = $(el).val();
  placeholder = $(el).attr('placeholder');
  if (val.length > 0 && (!placeholder || (placeholder && val != placeholder)))
    return "" + $(el).attr('id') + "/" + val;
}

function search_properties() {
  data = [];
  $('#search_form input'  ).each(function(i, el) { v = input_val(el); if (v) data[data.length] = v; });  
  $('#search_form select' ).each(function(i, el) { v = input_val(el); if (v) data[data.length] = v; });
  data = data.join('/');    
  window.location = '/residential/search/' + data;
}
    
</script>
<% end %>
