<div class="body-sink"></div>

<div class="l-wrapper">
	<div class="l-section">
		<h3 class="h-type-center h-space-mbs">Open Houses</h3>
		
		<ul class="m-list-border h-space-mbm">		  
			<% if @open_houses %>
			  <% @open_houses.each do |op| %>
			    <%			    
			    p = op.property			    
			    next if p.nil? or p.lo_code != '46'
			    a = p.agent
			    
			    hosts = []
			    if op.comments.strip.length > 0
			      op.comments.strip.split(',').each do |la_code|
			        la_code.strip!			        
			        if la_code != a.la_code && CabooseRets::Agent.exists?(:la_code => la_code)
			          hosts << CabooseRets::Agent.where(:la_code => la_code).first
			        end
			      end
			    end 
			    			    
			    st = "#{op.start_time}"
          et = "#{op.end_time}"
          st = "0#{st}" if st.length == 3
          et = "0#{et}" if et.length == 3
          
			    d1 = DateTime.parse("#{op.open_house_date}T#{st[0..1]}:#{st[2..3]}")
			    d2 = DateTime.parse("#{op.open_house_date}T#{et[0..1]}:#{et[2..3]}")			    
			    start_time = d1.strftime("%l:%M").strip
			    end_time   = d2.strftime("%l:%M").strip
			    %>
				  <li class="l-media inflate-tenor">
		  	  	<% if p.images && p.images.count > 0 %>
		  	  	  <figure class="media-aside"><a href="<%= p.url %>"><img src="<%= p.images[0].image_url(:thumb) %>"></a></figure>
				  	<% end %>
				  	<% if a %>				  	  
				  	<% end %>
				  	<div class="media-body">
				  		<h5><strong><%= d1.strftime("%A, %b. %e") %>
				  		  from <%= start_time %>-<%= end_time %> <%= d2.strftime("%P") %>
				  		  at <%= p.street_num %> <%= p.street_name %>
				  		</strong></h5>
				  		<p><%= number_to_currency(p.current_price, :precision => 0) %></p>
				  		<% if a && a.image %>
				  		  <div style="float: right; margin-left: 10px; width: 100px">
				  		    <img src="<%= a.image_url(:thumb) %>" width="100" />
				  		    Listed by <%= a.first_name %> <%= a.last_name %>
				  		  </div>
				  		<% end %>
				  		<% if hosts.count > 0 %>
				  		  <% hosts.each do |host| %>
				  		    <% if host.image %>
				  		      <div style="float: right; margin-left: 10px; width: 100px">
				  		        <img src="<%= host.image_url(:thumb) %>" width="100" />
				  		        Hosted by <%= host.first_name %> <%= host.last_name %>
				  		      </div>
				  		    <% end %>
				  		  <% end %>
				  		<% end %>				  		
				  		<p class="h-space-mbt"><%= p.remarks %></p>
				  		<a class="m-btn-red h-space-mts" href="<%= p.url %>">Read More</a>
				  	</div> <!-- .media-body -->
				  </li> <!-- .l-media -->
				<% end %>
			<% end %>
		</ul> <!-- .m-list -->
		
		<footer class="section-foot"><%= raw Caboose::Setting.value_for('footer_text') %></footer>
	</div> <!-- .l-section -->
</div> <!-- .l-wrapper -->

<script type="text/javascript">
	<% unless flash[:notice].blank? %>
	alert('<%= flash[:notice] %>');
	<% end %>
</script>