
<div class='grid-row'>
  <div class='grid-unit-1of4 list-part' id='list1'>
    <a href="/land/<%= p.mls_acct %>/details"><img src='<%= p.images && p.images.count > 0 ? p.images[0].image_url(:thumb) : "" %>' width="400" /></a><br>
    <div id='list-meta'>
      <span class='address'><% if !p.unit_num.nil? && p.unit_num.strip.length > 0 %>Unit <%= p.unit_num %>, <% end %><%= p.street_num %> <%= p.street_name.titleize %></span><br> <!-- , {city}, {state} {zip} -->
      <% if p.lo_code != '46' %>
        <span class="nonadvantage_agent"><% if p.owner_name && p.office && p.office.lo_name %>Listing Courtesy of <%= p.office.lo_name.titleize %><% end %></span>
      <% else %>
        <span class="advantage_agent"><% if p.agent %>Listing Courtesy of <%= p.agent.first_name.titleize %> <%= p.agent.last_name.titleize %><% end %></span>
      <% end %>
    </div>
  </div>
  
  <div class='grid-unit-1of4 list-part' id='list2'>
    <% if p.current_price != 0 %><span class='price'><%=h number_to_currency(p.current_price, :precision => 0) %></span><br><% end %>                
    <div class="info-meta">
      <span class='list-info'>Acreage:    <%= number_with_precision(p.acreage, :precision => 2) %></span><br>
                        
    </div>
    <span>MLS#:  <%= p.mls_acct %></span>  
  </div>

  <div class='grid-unit-1of4 list-part' id='list3'>
    <div class='list-schools'>Road Access: <%= p.ftr_access %></div>
    <div class="list-schools">
      <span class="school">Elementary - <%= p.elem_school.titleize %></span> <br>
      <span class="school">Middle - <%= p.middle_school.titleize %></span> <br>
      <span class="school">High - <%= p.high_school.titleize %></span> <br>
    </div>
    
    <div class='desc-container'>
      <span class='description'><%= p.remarks %></span>
    </div>
  </div>

  <div class='grid-unit-1of4 list-part' id='list4'>
    <a href="/land/<%= p.mls_acct %>/details" class="m-btn-ornate">
      <div class="btn-inner see-more">MORE DETAILS</div>
    </a>
    <br>
    <% if p.lo_code == '46' && p.agent %>
      <a href="/agents/<%= p.la_code %>" class="m-btn-ornate">
        <div class="btn-inner contact-btn">Contact <%= p.agent.first_name.titleize %> <%= p.agent.last_name.titleize %></div>
      </a>
    <% else %>
      <a href="/agents/048540000" class="m-btn-ornate">
        <div class="btn-inner contact-btn">Contact Advantage</div>
      </a>
    <% end %>
    <br>
    <% unless defined? p.virtual_tour && p.virtual_tour %>
      <a href="<%= p.virtual_tour %>" class="m-btn-ornate">
        <div class="btn-inner contact-btn">Take Virtual Tour</div>
      </a>
    <% end %>
  </div>
</div>
