<%
p = @property
is_custom_property = p.id > 1000000
attributes = {
  'mls_acct'                  => { nice_name: 'MLS#'                      , type: 'text' },
  'banner'                    => { nice_name: 'Banner'                    , type: 'text' },
  'prop_desc'                 => { nice_name: 'Property Name'             , type: 'text' },
  'street_name'               => { nice_name: 'Street Name'               , type: 'text' }, 
  'street_num'                => { nice_name: 'Street Number'             , type: 'text' }, 
  'city'                      => { nice_name: 'City'                      , type: 'text' },
  'zip'                       => { nice_name: 'Zip'                       , type: 'text' },
  'prop_type'                 => { nice_name: 'Type'                      , type: 'text' },
  'status'                    => { nice_name: 'Status'                    , type: 'select', text: p.status, options_url: '/admin/commercial/status-options' },
  'u1_sqft_total'             => { nice_name: 'Square Footage'            , type: 'text' },      
  'acreage'                   => { nice_name: 'Acreage'                   , type: 'text' },                      
  'agent_notes'               => { nice_name: 'Description'               , type: 'textarea' },
  'current_price'             => { nice_name: 'Price'                     , type: 'text' },
  'negotiable_price'          => { nice_name: 'Negotiable Price'          , type: 'checkbox' },
  'la_code'                   => { nice_name: 'Agent'                     , type: 'select', text: (p.agent ? "#{p.agent.first_name} #{p.agent.last_name}" : ""), options_url: '/admin/agents/options' },
  'lo_code'                   => { nice_name: 'Office'                    , type: 'select', text: (p.office ? p.office.lo_name : ""), options_url: '/admin/offices/options'},

  'adjoining_land_use'        => { nice_name: 'Adjoining Land Use'        , type: 'text' },
  'agent_other_contact_desc'  => { nice_name: 'agent_other_contact_desc'  , type: 'text' },
  'agent_other_contact_phone' => { nice_name: 'agent_other_contact_phone' , type: 'text' },
  'annual_taxes'              => { nice_name: 'Annual Taxes'              , type: 'text' },
  'approx_age'                => { nice_name: 'Approximate Age'           , type: 'text' },
  'area'                      => { nice_name: 'Area'                      , type: 'text' },
  'baths'                     => { nice_name: 'Baths'                     , type: 'text' },
  'baths_full'                => { nice_name: 'Full Baths'                , type: 'text' },
  'baths_half'                => { nice_name: 'Half Baths'                , type: 'text' },
  'bedrooms'                  => { nice_name: 'Bedrooms'                  , type: 'text' },
  'bom_date'                  => { nice_name: 'bom_date'                  , type: 'text' },
  'book_number'               => { nice_name: 'book_number'               , type: 'text' },
  'book_page'                 => { nice_name: 'book_page'                 , type: 'text' },
  'book_type'                 => { nice_name: 'book_type'                 , type: 'text' },
  'box_on_unit'               => { nice_name: 'box_on_unit'               , type: 'text' },
  'box_on_unit_yn'            => { nice_name: 'box_on_unit_yn'            , type: 'text' },
  'business_included_yn'      => { nice_name: 'business_included_yn'      , type: 'text' },
  'buyer_broker'              => { nice_name: 'buyer_broker'              , type: 'text' },
  'buyer_broker_type'         => { nice_name: 'buyer_broker_type'         , type: 'text' },
  'buyer_city'                => { nice_name: 'buyer_city'                , type: 'text' },
  'buyer_name'                => { nice_name: 'buyer_name'                , type: 'text' },
  'buyer_state'               => { nice_name: 'buyer_state'               , type: 'text' },
  'buyer_zip'                 => { nice_name: 'buyer_zip'                 , type: 'text' },
  'category'                  => { nice_name: 'category'                  , type: 'text' },  
  'city_code'                 => { nice_name: 'city_code'                 , type: 'text' },
  'co_la_code'                => { nice_name: 'co_la_code'                , type: 'text' },
  'co_lo_code'                => { nice_name: 'co_lo_code'                , type: 'text' },
  'co_sa_code'                => { nice_name: 'co_sa_code'                , type: 'text' },
  'co_so_code'                => { nice_name: 'co_so_code'                , type: 'text' },
  'contacts'                  => { nice_name: 'contacts'                  , type: 'text' },
  'contr_broker'              => { nice_name: 'contr_broker'              , type: 'text' },
  'contr_broker_type'         => { nice_name: 'contr_broker_type'         , type: 'text' },
  'county'                    => { nice_name: 'county'                    , type: 'text' },  
  'date_created'              => { nice_name: 'date_created'              , type: 'text' },
  'date_leased'               => { nice_name: 'date_leased'               , type: 'text' },
  'date_modified'             => { nice_name: 'date_modified'             , type: 'text' },
  'df_yn'                     => { nice_name: 'df_yn'                     , type: 'text' },
  'directions'                => { nice_name: 'directions'                , type: 'text' },
  'display_address_yn'        => { nice_name: 'display_address_yn'        , type: 'text' },
  'dom'                       => { nice_name: 'dom'                       , type: 'text' },
  'elem_school'               => { nice_name: 'elem_school'               , type: 'text' },
  'expenses_assoc'            => { nice_name: 'expenses_assoc'            , type: 'text' },
  'expenses_ins'              => { nice_name: 'expenses_ins'              , type: 'text' },
  'expenses_maint'            => { nice_name: 'expenses_maint'            , type: 'text' },
  'expenses_mgmt'             => { nice_name: 'expenses_mgmt'             , type: 'text' },
  'expenses_other'            => { nice_name: 'expenses_other'            , type: 'text' },
  'expenses_tax'              => { nice_name: 'expenses_tax'              , type: 'text' },
  'expenses_utility'          => { nice_name: 'expenses_utility'          , type: 'text' },
  'expire_date'               => { nice_name: 'expire_date'               , type: 'text' },
  'flood_plain'               => { nice_name: 'flood_plain'               , type: 'text' },
  'ftr_building'              => { nice_name: 'ftr_building'              , type: 'text' },
  'ftr_building_type'         => { nice_name: 'ftr_building_type'         , type: 'text' },
  'ftr_closing'               => { nice_name: 'ftr_closing'               , type: 'text' },
  'ftr_cooling'               => { nice_name: 'ftr_cooling'               , type: 'text' },
  'ftr_docs_on_file'          => { nice_name: 'ftr_docs_on_file'          , type: 'text' },
  'ftr_exterior'              => { nice_name: 'ftr_exterior'              , type: 'text' },
  'ftr_financing'             => { nice_name: 'ftr_financing'             , type: 'text' },
  'ftr_flooring'              => { nice_name: 'ftr_flooring'              , type: 'text' },
  'ftr_heating'               => { nice_name: 'ftr_heating'               , type: 'text' },
  'ftr_interior'              => { nice_name: 'ftr_interior'              , type: 'text' },
  'ftr_internet'              => { nice_name: 'ftr_internet'              , type: 'text' },
  'ftr_lease_terms'           => { nice_name: 'ftr_lease_terms'           , type: 'text' },
  'ftr_property_desc'         => { nice_name: 'ftr_property_desc'         , type: 'text' },
  'ftr_roof'                  => { nice_name: 'ftr_roof'                  , type: 'text' },
  'ftr_sale_terms'            => { nice_name: 'ftr_sale_terms'            , type: 'text' },
  'ftr_sewer'                 => { nice_name: 'ftr_sewer'                 , type: 'text' },
  'ftr_showing'               => { nice_name: 'ftr_showing'               , type: 'text' },
  'ftr_sprinkler'             => { nice_name: 'ftr_sprinkler'             , type: 'text' },
  'ftr_style'                 => { nice_name: 'ftr_style'                 , type: 'text' },
  'ftr_utilities'             => { nice_name: 'ftr_utilities'             , type: 'text' },
  'ftr_utilities_rental'      => { nice_name: 'ftr_utilities_rental'      , type: 'text' },
  'ftr_water'                 => { nice_name: 'ftr_water'                 , type: 'text' },
  'geo_precision'             => { nice_name: 'geo_precision'             , type: 'text' },
  'georesult'                 => { nice_name: 'georesult'                 , type: 'text' },
  'high_school'               => { nice_name: 'high_school'               , type: 'text' },
  'hoa_fee'                   => { nice_name: 'hoa_fee'                   , type: 'text' },
  'hoa_fee_yn'                => { nice_name: 'hoa_fee_yn'                , type: 'text' },
  'hoa_term'                  => { nice_name: 'hoa_term'                  , type: 'text' },
  'income_gross'              => { nice_name: 'income_gross'              , type: 'text' },
  'income_net'                => { nice_name: 'income_net'                , type: 'text' },
  'income_other'              => { nice_name: 'income_other'              , type: 'text' },
  'income_rental'             => { nice_name: 'income_rental'             , type: 'text' },
  'internet_yn'               => { nice_name: 'internet_yn'               , type: 'text' },
  'leased_through'            => { nice_name: 'leased_through'            , type: 'text' },
  'legal_block'               => { nice_name: 'legal_block'               , type: 'text' },
  'legal_lot'                 => { nice_name: 'legal_lot'                 , type: 'text' },
  'legals'                    => { nice_name: 'legals'                    , type: 'text' },
  'list_date'                 => { nice_name: 'list_date'                 , type: 'text' },
  'list_price'                => { nice_name: 'list_price'                , type: 'text' },
  'listing_type'              => { nice_name: 'listing_type'              , type: 'text' },  
  'lockbox_yn'                => { nice_name: 'lockbox_yn'                , type: 'text' },
  'lot_dimensions'            => { nice_name: 'lot_dimensions'            , type: 'text' },
  'lot_dimensions_source'     => { nice_name: 'lot_dimensions_source'     , type: 'text' },
  'media_flag'                => { nice_name: 'media_flag'                , type: 'text' },
  'middle_school'             => { nice_name: 'middle_school'             , type: 'text' },  
  'municipality'              => { nice_name: 'municipality'              , type: 'text' },
  'num_units'                 => { nice_name: 'num_units'                 , type: 'text' },
  'num_units_occupied'        => { nice_name: 'num_units_occupied'        , type: 'text' },
  'off_mkt_date'              => { nice_name: 'off_mkt_date'              , type: 'text' },
  'off_mkt_days'              => { nice_name: 'off_mkt_days'              , type: 'text' },
  'office_notes'              => { nice_name: 'office_notes'              , type: 'text' },
  'orig_lp'                   => { nice_name: 'orig_lp'                   , type: 'text' },
  'other_fee'                 => { nice_name: 'other_fee'                 , type: 'text' },
  'other_fee_type'            => { nice_name: 'other_fee_type'            , type: 'text' },
  'owner_name'                => { nice_name: 'owner_name'                , type: 'text' },
  'owner_phone'               => { nice_name: 'owner_phone'               , type: 'text' },
  'parcel_id'                 => { nice_name: 'parcel_id'                 , type: 'text' },
  'pending_date'              => { nice_name: 'pending_date'              , type: 'text' },
  'photo_count'               => { nice_name: 'photo_count'               , type: 'text' },
  'photo_date_modified'       => { nice_name: 'photo_date_modified'       , type: 'text' },
  'photo_description'         => { nice_name: 'photo_description'         , type: 'text' },
  'photo_instr'               => { nice_name: 'photo_instr'               , type: 'text' },
  'posession'                 => { nice_name: 'posession'                 , type: 'text' },
  'price_change_date'         => { nice_name: 'price_change_date'         , type: 'text' },
  'price_sqft'                => { nice_name: 'price_sqft'                , type: 'text' },
  'proj_close_date'           => { nice_name: 'proj_close_date'           , type: 'text' },  
  'prop_id'                   => { nice_name: 'prop_id'                   , type: 'text' },  
  'remarks'                   => { nice_name: 'remarks'                   , type: 'text' },
  'road_frontage_ft'          => { nice_name: 'road_frontage_ft'          , type: 'text' },
  'sa_code'                   => { nice_name: 'sa_code'                   , type: 'text' },
  'sale_lease'                => { nice_name: 'sale_lease'                , type: 'text' },
  'sale_notes'                => { nice_name: 'sale_notes'                , type: 'text' },
  'so_code'                   => { nice_name: 'so_code'                   , type: 'text' },
  'sold_date'                 => { nice_name: 'sold_date'                 , type: 'text' },
  'sold_price'                => { nice_name: 'sold_price'                , type: 'text' },
  'sold_terms'                => { nice_name: 'sold_terms'                , type: 'text' },
  'sqft_source'               => { nice_name: 'sqft_source'               , type: 'text' },
  'state'                     => { nice_name: 'state'                     , type: 'text' },  
  'status_date'               => { nice_name: 'status_date'               , type: 'text' },
  'status_flag'               => { nice_name: 'status_flag'               , type: 'text' },
  'street'                    => { nice_name: 'street'                    , type: 'text' },
  'street_dir'                => { nice_name: 'street_dir'                , type: 'text' },  
  'sub_agent'                 => { nice_name: 'sub_agent'                 , type: 'text' },
  'sub_agent_type'            => { nice_name: 'sub_agent_type'            , type: 'text' },
  'sub_area'                  => { nice_name: 'sub_area'                  , type: 'text' },
  'subdivision'               => { nice_name: 'subdivision'               , type: 'text' },
  'take_photo_yn'             => { nice_name: 'take_photo_yn'             , type: 'text' },
  'third_party_comm_yn'       => { nice_name: 'third_party_comm_yn'       , type: 'text' },
  'tot_heat_sqft'             => { nice_name: 'tot_heat_sqft'             , type: 'text' },
  'tour_date'                 => { nice_name: 'tour_date'                 , type: 'text' },
  'tour_submit_date'          => { nice_name: 'tour_submit_date'          , type: 'text' },
  'type_detailed'             => { nice_name: 'type_detailed'             , type: 'text' },
  'u1_dims'                   => { nice_name: 'u1_dims'                   , type: 'text' },
  'u1_free_standing_yn'       => { nice_name: 'u1_free_standing_yn'       , type: 'text' },
  'u1_sqft_manuf'             => { nice_name: 'u1_sqft_manuf'             , type: 'text' },
  'u1_sqft_office'            => { nice_name: 'u1_sqft_office'            , type: 'text' },
  'u1_sqft_retail'            => { nice_name: 'u1_sqft_retail'            , type: 'text' },
  'u1_sqft_warehouse'         => { nice_name: 'u1_sqft_warehouse'         , type: 'text' },
  'u1_year_built'             => { nice_name: 'u1_year_built'             , type: 'text' },
  'u2_dims'                   => { nice_name: 'u2_dims'                   , type: 'text' },
  'u2_free_standing_yn'       => { nice_name: 'u2_free_standing_yn'       , type: 'text' },
  'u2_sqft_manuf'             => { nice_name: 'u2_sqft_manuf'             , type: 'text' },
  'u2_sqft_office'            => { nice_name: 'u2_sqft_office'            , type: 'text' },
  'u2_sqft_retail'            => { nice_name: 'u2_sqft_retail'            , type: 'text' },
  'u2_sqft_total'             => { nice_name: 'u2_sqft_total'             , type: 'text' },
  'u2_sqft_warehouse'         => { nice_name: 'u2_sqft_warehouse'         , type: 'text' },
  'u2_year_built'             => { nice_name: 'u2_year_built'             , type: 'text' },
  'u3_dims'                   => { nice_name: 'u3_dims'                   , type: 'text' },
  'u3_free_standing_yn'       => { nice_name: 'u3_free_standing_yn'       , type: 'text' },
  'u3_sqft_manuf'             => { nice_name: 'u3_sqft_manuf'             , type: 'text' },
  'u3_sqft_office'            => { nice_name: 'u3_sqft_office'            , type: 'text' },
  'u3_sqft_retail'            => { nice_name: 'u3_sqft_retail'            , type: 'text' },
  'u3_sqft_total'             => { nice_name: 'u3_sqft_total'             , type: 'text' },
  'u3_sqft_warehouse'         => { nice_name: 'u3_sqft_warehouse'         , type: 'text' },
  'u3_year_built'             => { nice_name: 'u3_year_built'             , type: 'text' },
  'unit_num'                  => { nice_name: 'unit_num'                  , type: 'text' },
  'upload_source'             => { nice_name: 'upload_source'             , type: 'text' },
  'vacancy_rate'              => { nice_name: 'vacancy_rate'              , type: 'text' },
  'vacant_yn'                 => { nice_name: 'vacant_yn'                 , type: 'text' },
  'valuation_yn'              => { nice_name: 'valuation_yn'              , type: 'text' },
  'vt_yn'                     => { nice_name: 'vt_yn'                     , type: 'text' },
  'waterfront_yn'             => { nice_name: 'waterfront_yn'             , type: 'text' },
  'withdrawn_date'            => { nice_name: 'withdrawn_date'            , type: 'text' },
  'year_built'                => { nice_name: 'year_built'                , type: 'text' },  
  'zoning_northport'          => { nice_name: 'zoning_northport'          , type: 'text' },
  'zoning_tusc'               => { nice_name: 'zoning_tusc'               , type: 'text' },
}

%>
<h1>Edit Commercial Property</h1>
<p>MLS#: <%= p.mls_acct %>
<p>
<input type='button' value='< Back' onclick="window.location='/admin/commercial';" />
<input type='button' value='Images and Files' onclick="window.location='/admin/properties/<%= p.mls_acct %>/media';" />
<% if !is_custom_property %>
  <input type='button' value='Manually Refresh from MLS' onclick="refresh_property_from_mls('<%= p.mls_acct %>');" />
<% end %>
</p>
<div id='message'><%= raw flash[:message] ? flash[:message] : "" %></div>

<% if is_custom_property %>
  <% attributes.each do |attrib, h| %>
    <div id='commercialproperty_<%= p.id %>_<%= attrib %>'></div>
  <% end %>
<% else %>
  <table class='data'>
  <% attributes.each do |attrib, h| %>
    <tr><td><%= h[:nice_name] %><td><%= p[attrib] %></td></tr>
  <% end %>
  </table>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

function refresh_property_from_mls(mls_acct)
{
  modal.autosize("<p class='loading'>Refreshing property info and images from MLS...</p>");
  $.ajax({
    url: '/admin/commercial/' + mls_acct + '/refresh',
    success: function(resp) {
      if (resp.error)   modal.autosize("<p class='note error'>"   + resp.error   + "</p>");
      if (resp.success) modal.autosize("<p class='note success'>" + resp.success + "</p>");
    }        
  });
}

<% if is_custom_property %>
$(document).ready(function() {
  m = new ModelBinder({
    name: 'CommercialProperty',
    id: <%= p.id %>,
    update_url: '/admin/commercial/<%= p.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      <% attributes.each do |attrib, h| %>
        { 
          name: '<%= attrib %>', 
          nice_name: '<%= h[:nice_name] %>', 
          type: '<%= h[:type] %>', 
          value: <%= raw Caboose.json(p[attrib]) %>,
          <% if h[:text] %>text: <%= raw Caboose.json(h[:text]) %>,<% end %>
          <% if h[:options_url] %>options_url: <%= raw Caboose.json(h[:options_url]) %>,<% end %>
          width: 600
        },
      <% end %>
    ]
  });
});
<% end %>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});
</script>
<% end %>
