<%
p = @property
is_custom_property = p.mls_acct.starts_with?('0')
attributes = [
  'acreage',
  'adjoining_land_use',
  'agent_notes',
  'agent_other_contact_desc',
  'agent_other_contact_phone',
  'annual_taxes',
  'approx_age',
  'area',
  'baths',
  'baths_full',
  'baths_half',
  'bedrooms',
  'bom_date',
  'book_number',
  'book_page',
  'book_type',
  'box_on_unit',
  'box_on_unit_yn',
  'business_included_yn',
  'buyer_broker',
  'buyer_broker_type',
  'buyer_city',
  'buyer_name',
  'buyer_state',
  'buyer_zip',
  'category',
  'city',
  'city_code',
  'co_la_code',
  'co_lo_code',
  'co_sa_code',
  'co_so_code',
  'contacts',
  'contr_broker',
  'contr_broker_type',
  'county',
  'current_price',
  'date_created',
  'date_leased',
  'date_modified',
  'df_yn',
  'directions',
  'display_address_yn',
  'dom',
  'elem_school',
  'expenses_assoc',
  'expenses_ins',
  'expenses_maint',
  'expenses_mgmt',
  'expenses_other',
  'expenses_tax',
  'expenses_utility',
  'expire_date',
  'flood_plain',
  'ftr_building',
  'ftr_building_type',
  'ftr_closing',
  'ftr_cooling',
  'ftr_docs_on_file',
  'ftr_exterior',
  'ftr_financing',
  'ftr_flooring',
  'ftr_heating',
  'ftr_interior',
  'ftr_internet',
  'ftr_lease_terms',
  'ftr_property_desc',
  'ftr_roof',
  'ftr_sale_terms',
  'ftr_sewer',
  'ftr_showing',
  'ftr_sprinkler',
  'ftr_style',
  'ftr_utilities',
  'ftr_utilities_rental',
  'ftr_water',
  'geo_precision',
  'georesult',
  'high_school',
  'hoa_fee',
  'hoa_fee_yn',
  'hoa_term',
  'income_gross',
  'income_net',
  'income_other',
  'income_rental',
  'internet_yn',
  'la_code',
  'leased_through',
  'legal_block',
  'legal_lot',
  'legals',
  'list_date',
  'list_price',
  'listing_type',
  'lo_code',
  'lockbox_yn',
  'lot_dimensions',
  'lot_dimensions_source',
  'media_flag',
  'middle_school',
  'mls_acct',
  'municipality',
  'num_units',
  'num_units_occupied',
  'off_mkt_date',
  'off_mkt_days',
  'office_notes',
  'orig_lp',
  'other_fee',
  'other_fee_type',
  'owner_name',
  'owner_phone',
  'parcel_id',
  'pending_date',
  'photo_count',
  'photo_date_modified',
  'photo_description',
  'photo_instr',
  'posession',
  'price_change_date',
  'price_sqft',
  'proj_close_date',
  'prop_desc',
  'prop_id',
  'prop_type',
  'remarks',
  'road_frontage_ft',
  'sa_code',
  'sale_lease',
  'sale_notes',
  'so_code',
  'sold_date',
  'sold_price',
  'sold_terms',
  'sqft_source',
  'state',
  'status',
  'status_date',
  'status_flag',
  'street',
  'street_dir',
  'street_name',
  'street_num',
  'sub_agent',
  'sub_agent_type',
  'sub_area',
  'subdivision',
  'take_photo_yn',
  'third_party_comm_yn',
  'tot_heat_sqft',
  'tour_date',
  'tour_submit_date',
  'type_detailed',
  'u1_dims',
  'u1_free_standing_yn',
  'u1_sqft_manuf',
  'u1_sqft_office',
  'u1_sqft_retail',
  'u1_sqft_total',
  'u1_sqft_warehouse',
  'u1_year_built',
  'u2_dims',
  'u2_free_standing_yn',
  'u2_sqft_manuf',
  'u2_sqft_office',
  'u2_sqft_retail',
  'u2_sqft_total',
  'u2_sqft_warehouse',
  'u2_year_built',
  'u3_dims',
  'u3_free_standing_yn',
  'u3_sqft_manuf',
  'u3_sqft_office',
  'u3_sqft_retail',
  'u3_sqft_total',
  'u3_sqft_warehouse',
  'u3_year_built',
  'unit_num',
  'upload_source',
  'vacancy_rate',
  'vacant_yn',
  'valuation_yn',
  'vt_yn',
  'waterfront_yn',
  'withdrawn_date',
  'year_built',
  'zip',
  'zoning_northport',
  'zoning_tusc'
]

%>
<h1>Edit Commercial Property</h1>
<p>MLS#: <%= p.mls_acct %>
<p>
<input type='button' value='< Back' onclick="window.location='/admin/commercial';" />
<% if !is_custom_property %>
<input type='button' value='Manually Refresh from MLS' onclick="refresh_property_from_mls('<%= p.mls_acct %>');" />
<% end %>
</p>
<div id='message'><%= raw flash[:message] ? flash[:message] : "" %></div>

<% if is_custom_property %>

<% attributes.each do |attrib| %>
  <div id='commercialproperty_<%= p.id %>_<%= attrib %>'></div>
<% end %>

<% else %>

<table class='data'>
<% attributes.each do |attrib| %>
  <tr><td><%= attrib %><td><%= p[attrib.to_sym] %></td></tr>
<% end %>
</table>

<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

function refresh_property_from_mls(mls_acct)
{
  modal.autosize("<p class='loading'>Refreshing property info and images from MLS...</p>");
  $.ajax({
    url: '/admin/commercial/' + mls_acct + '/refresh',
    success: function(resp) {
      if (resp.error)
        modal.autosize("<p class='note error'>" + resp.error + "</p>");
      if (resp.reload)
        location.reload();
    }        
  });
}

<% if p.mls_acct.starts_with?('0') %>

$(document).ready(function() {
  m = new ModelBinder({
    name: 'CommercialProperty',
    id: <%= p.id %>,
    update_url: '/admin/commercial/<%= p.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'acreage'                         , nice_name: 'acreage'                         , type: 'text', value: <%= raw Caboose.json(p.acreage                     ) %>, width: 600 },                      
      { name: 'adjoining_land_use'              , nice_name: 'adjoining_land_use'              , type: 'text', value: <%= raw Caboose.json(p.adjoining_land_use          ) %>, width: 600 }, 
      { name: 'agent_notes'                     , nice_name: 'agent_notes'                     , type: 'textarea', value: <%= raw Caboose.json(p.agent_notes                 ) %>, width: 600 }, 
      { name: 'agent_other_contact_desc'        , nice_name: 'agent_other_contact_desc'        , type: 'text', value: <%= raw Caboose.json(p.agent_other_contact_desc    ) %>, width: 600 }, 
      { name: 'agent_other_contact_phone'       , nice_name: 'agent_other_contact_phone'       , type: 'text', value: <%= raw Caboose.json(p.agent_other_contact_phone   ) %>, width: 600 }, 
      { name: 'annual_taxes'                    , nice_name: 'annual_taxes'                    , type: 'text', value: <%= raw Caboose.json(p.annual_taxes                ) %>, width: 600 }, 
      { name: 'approx_age'                      , nice_name: 'approx_age'                      , type: 'text', value: <%= raw Caboose.json(p.approx_age                  ) %>, width: 600 }, 
      { name: 'area'                            , nice_name: 'area'                            , type: 'text', value: <%= raw Caboose.json(p.area                        ) %>, width: 600 }, 
      { name: 'baths'                           , nice_name: 'baths'                           , type: 'text', value: <%= raw Caboose.json(p.baths                       ) %>, width: 600 }, 
      { name: 'baths_full'                      , nice_name: 'baths_full'                      , type: 'text', value: <%= raw Caboose.json(p.baths_full                  ) %>, width: 600 }, 
      { name: 'baths_half'                      , nice_name: 'baths_half'                      , type: 'text', value: <%= raw Caboose.json(p.baths_half                  ) %>, width: 600 }, 
      { name: 'bedrooms'                        , nice_name: 'bedrooms'                        , type: 'text', value: <%= raw Caboose.json(p.bedrooms                    ) %>, width: 600 }, 
      { name: 'bom_date'                        , nice_name: 'bom_date'                        , type: 'text', value: <%= raw Caboose.json(p.bom_date                    ) %>, width: 600 }, 
      { name: 'book_number'                     , nice_name: 'book_number'                     , type: 'text', value: <%= raw Caboose.json(p.book_number                 ) %>, width: 600 }, 
      { name: 'book_page'                       , nice_name: 'book_page'                       , type: 'text', value: <%= raw Caboose.json(p.book_page                   ) %>, width: 600 }, 
      { name: 'book_type'                       , nice_name: 'book_type'                       , type: 'text', value: <%= raw Caboose.json(p.book_type                   ) %>, width: 600 }, 
      { name: 'box_on_unit'                     , nice_name: 'box_on_unit'                     , type: 'text', value: <%= raw Caboose.json(p.box_on_unit                 ) %>, width: 600 }, 
      { name: 'box_on_unit_yn'                  , nice_name: 'box_on_unit_yn'                  , type: 'text', value: <%= raw Caboose.json(p.box_on_unit_yn              ) %>, width: 600 }, 
      { name: 'business_included_yn'            , nice_name: 'business_included_yn'            , type: 'text', value: <%= raw Caboose.json(p.business_included_yn        ) %>, width: 600 }, 
      { name: 'buyer_broker'                    , nice_name: 'buyer_broker'                    , type: 'text', value: <%= raw Caboose.json(p.buyer_broker                ) %>, width: 600 }, 
      { name: 'buyer_broker_type'               , nice_name: 'buyer_broker_type'               , type: 'text', value: <%= raw Caboose.json(p.buyer_broker_type           ) %>, width: 600 }, 
      { name: 'buyer_city'                      , nice_name: 'buyer_city'                      , type: 'text', value: <%= raw Caboose.json(p.buyer_city                  ) %>, width: 600 }, 
      { name: 'buyer_name'                      , nice_name: 'buyer_name'                      , type: 'text', value: <%= raw Caboose.json(p.buyer_name                  ) %>, width: 600 }, 
      { name: 'buyer_state'                     , nice_name: 'buyer_state'                     , type: 'text', value: <%= raw Caboose.json(p.buyer_state                 ) %>, width: 600 }, 
      { name: 'buyer_zip'                       , nice_name: 'buyer_zip'                       , type: 'text', value: <%= raw Caboose.json(p.buyer_zip                   ) %>, width: 600 }, 
      { name: 'category'                        , nice_name: 'category'                        , type: 'text', value: <%= raw Caboose.json(p.category                    ) %>, width: 600 }, 
      { name: 'city'                            , nice_name: 'city'                            , type: 'text', value: <%= raw Caboose.json(p.city                        ) %>, width: 600 }, 
      { name: 'city_code'                       , nice_name: 'city_code'                       , type: 'text', value: <%= raw Caboose.json(p.city_code                   ) %>, width: 600 }, 
      { name: 'co_la_code'                      , nice_name: 'co_la_code'                      , type: 'text', value: <%= raw Caboose.json(p.co_la_code                  ) %>, width: 600 }, 
      { name: 'co_lo_code'                      , nice_name: 'co_lo_code'                      , type: 'text', value: <%= raw Caboose.json(p.co_lo_code                  ) %>, width: 600 }, 
      { name: 'co_sa_code'                      , nice_name: 'co_sa_code'                      , type: 'text', value: <%= raw Caboose.json(p.co_sa_code                  ) %>, width: 600 }, 
      { name: 'co_so_code'                      , nice_name: 'co_so_code'                      , type: 'text', value: <%= raw Caboose.json(p.co_so_code                  ) %>, width: 600 }, 
      { name: 'contacts'                        , nice_name: 'contacts'                        , type: 'text', value: <%= raw Caboose.json(p.contacts                    ) %>, width: 600 }, 
      { name: 'contr_broker'                    , nice_name: 'contr_broker'                    , type: 'text', value: <%= raw Caboose.json(p.contr_broker                ) %>, width: 600 }, 
      { name: 'contr_broker_type'               , nice_name: 'contr_broker_type'               , type: 'text', value: <%= raw Caboose.json(p.contr_broker_type           ) %>, width: 600 }, 
      { name: 'county'                          , nice_name: 'county'                          , type: 'text', value: <%= raw Caboose.json(p.county                      ) %>, width: 600 }, 
      { name: 'current_price'                   , nice_name: 'current_price'                   , type: 'text', value: <%= raw Caboose.json(p.current_price               ) %>, width: 600 }, 
      { name: 'date_created'                    , nice_name: 'date_created'                    , type: 'text', value: <%= raw Caboose.json(p.date_created                ) %>, width: 600 }, 
      { name: 'date_leased'                     , nice_name: 'date_leased'                     , type: 'text', value: <%= raw Caboose.json(p.date_leased                 ) %>, width: 600 }, 
      { name: 'date_modified'                   , nice_name: 'date_modified'                   , type: 'text', value: <%= raw Caboose.json(p.date_modified               ) %>, width: 600 }, 
      { name: 'df_yn'                           , nice_name: 'df_yn'                           , type: 'text', value: <%= raw Caboose.json(p.df_yn                       ) %>, width: 600 }, 
      { name: 'directions'                      , nice_name: 'directions'                      , type: 'text', value: <%= raw Caboose.json(p.directions                  ) %>, width: 600 }, 
      { name: 'display_address_yn'              , nice_name: 'display_address_yn'              , type: 'text', value: <%= raw Caboose.json(p.display_address_yn          ) %>, width: 600 }, 
      { name: 'dom'                             , nice_name: 'dom'                             , type: 'text', value: <%= raw Caboose.json(p.dom                         ) %>, width: 600 }, 
      { name: 'elem_school'                     , nice_name: 'elem_school'                     , type: 'text', value: <%= raw Caboose.json(p.elem_school                 ) %>, width: 600 }, 
      { name: 'expenses_assoc'                  , nice_name: 'expenses_assoc'                  , type: 'text', value: <%= raw Caboose.json(p.expenses_assoc              ) %>, width: 600 }, 
      { name: 'expenses_ins'                    , nice_name: 'expenses_ins'                    , type: 'text', value: <%= raw Caboose.json(p.expenses_ins                ) %>, width: 600 }, 
      { name: 'expenses_maint'                  , nice_name: 'expenses_maint'                  , type: 'text', value: <%= raw Caboose.json(p.expenses_maint              ) %>, width: 600 }, 
      { name: 'expenses_mgmt'                   , nice_name: 'expenses_mgmt'                   , type: 'text', value: <%= raw Caboose.json(p.expenses_mgmt               ) %>, width: 600 }, 
      { name: 'expenses_other'                  , nice_name: 'expenses_other'                  , type: 'text', value: <%= raw Caboose.json(p.expenses_other              ) %>, width: 600 }, 
      { name: 'expenses_tax'                    , nice_name: 'expenses_tax'                    , type: 'text', value: <%= raw Caboose.json(p.expenses_tax                ) %>, width: 600 }, 
      { name: 'expenses_utility'                , nice_name: 'expenses_utility'                , type: 'text', value: <%= raw Caboose.json(p.expenses_utility            ) %>, width: 600 }, 
      { name: 'expire_date'                     , nice_name: 'expire_date'                     , type: 'text', value: <%= raw Caboose.json(p.expire_date                 ) %>, width: 600 }, 
      { name: 'flood_plain'                     , nice_name: 'flood_plain'                     , type: 'text', value: <%= raw Caboose.json(p.flood_plain                 ) %>, width: 600 }, 
      { name: 'ftr_building'                    , nice_name: 'ftr_building'                    , type: 'text', value: <%= raw Caboose.json(p.ftr_building                ) %>, width: 600 }, 
      { name: 'ftr_building_type'               , nice_name: 'ftr_building_type'               , type: 'text', value: <%= raw Caboose.json(p.ftr_building_type           ) %>, width: 600 }, 
      { name: 'ftr_closing'                     , nice_name: 'ftr_closing'                     , type: 'text', value: <%= raw Caboose.json(p.ftr_closing                 ) %>, width: 600 }, 
      { name: 'ftr_cooling'                     , nice_name: 'ftr_cooling'                     , type: 'text', value: <%= raw Caboose.json(p.ftr_cooling                 ) %>, width: 600 }, 
      { name: 'ftr_docs_on_file'                , nice_name: 'ftr_docs_on_file'                , type: 'text', value: <%= raw Caboose.json(p.ftr_docs_on_file            ) %>, width: 600 }, 
      { name: 'ftr_exterior'                    , nice_name: 'ftr_exterior'                    , type: 'text', value: <%= raw Caboose.json(p.ftr_exterior                ) %>, width: 600 }, 
      { name: 'ftr_financing'                   , nice_name: 'ftr_financing'                   , type: 'text', value: <%= raw Caboose.json(p.ftr_financing               ) %>, width: 600 }, 
      { name: 'ftr_flooring'                    , nice_name: 'ftr_flooring'                    , type: 'text', value: <%= raw Caboose.json(p.ftr_flooring                ) %>, width: 600 }, 
      { name: 'ftr_heating'                     , nice_name: 'ftr_heating'                     , type: 'text', value: <%= raw Caboose.json(p.ftr_heating                 ) %>, width: 600 }, 
      { name: 'ftr_interior'                    , nice_name: 'ftr_interior'                    , type: 'text', value: <%= raw Caboose.json(p.ftr_interior                ) %>, width: 600 }, 
      { name: 'ftr_internet'                    , nice_name: 'ftr_internet'                    , type: 'text', value: <%= raw Caboose.json(p.ftr_internet                ) %>, width: 600 }, 
      { name: 'ftr_lease_terms'                 , nice_name: 'ftr_lease_terms'                 , type: 'text', value: <%= raw Caboose.json(p.ftr_lease_terms             ) %>, width: 600 }, 
      { name: 'ftr_property_desc'               , nice_name: 'ftr_property_desc'               , type: 'text', value: <%= raw Caboose.json(p.ftr_property_desc           ) %>, width: 600 }, 
      { name: 'ftr_roof'                        , nice_name: 'ftr_roof'                        , type: 'text', value: <%= raw Caboose.json(p.ftr_roof                    ) %>, width: 600 }, 
      { name: 'ftr_sale_terms'                  , nice_name: 'ftr_sale_terms'                  , type: 'text', value: <%= raw Caboose.json(p.ftr_sale_terms              ) %>, width: 600 }, 
      { name: 'ftr_sewer'                       , nice_name: 'ftr_sewer'                       , type: 'text', value: <%= raw Caboose.json(p.ftr_sewer                   ) %>, width: 600 }, 
      { name: 'ftr_showing'                     , nice_name: 'ftr_showing'                     , type: 'text', value: <%= raw Caboose.json(p.ftr_showing                 ) %>, width: 600 }, 
      { name: 'ftr_sprinkler'                   , nice_name: 'ftr_sprinkler'                   , type: 'text', value: <%= raw Caboose.json(p.ftr_sprinkler               ) %>, width: 600 }, 
      { name: 'ftr_style'                       , nice_name: 'ftr_style'                       , type: 'text', value: <%= raw Caboose.json(p.ftr_style                   ) %>, width: 600 }, 
      { name: 'ftr_utilities'                   , nice_name: 'ftr_utilities'                   , type: 'text', value: <%= raw Caboose.json(p.ftr_utilities               ) %>, width: 600 }, 
      { name: 'ftr_utilities_rental'            , nice_name: 'ftr_utilities_rental'            , type: 'text', value: <%= raw Caboose.json(p.ftr_utilities_rental        ) %>, width: 600 }, 
      { name: 'ftr_water'                       , nice_name: 'ftr_water'                       , type: 'text', value: <%= raw Caboose.json(p.ftr_water                   ) %>, width: 600 }, 
      { name: 'geo_precision'                   , nice_name: 'geo_precision'                   , type: 'text', value: <%= raw Caboose.json(p.geo_precision               ) %>, width: 600 }, 
      { name: 'georesult'                       , nice_name: 'georesult'                       , type: 'text', value: <%= raw Caboose.json(p.georesult                   ) %>, width: 600 }, 
      { name: 'high_school'                     , nice_name: 'high_school'                     , type: 'text', value: <%= raw Caboose.json(p.high_school                 ) %>, width: 600 }, 
      { name: 'hoa_fee'                         , nice_name: 'hoa_fee'                         , type: 'text', value: <%= raw Caboose.json(p.hoa_fee                     ) %>, width: 600 }, 
      { name: 'hoa_fee_yn'                      , nice_name: 'hoa_fee_yn'                      , type: 'text', value: <%= raw Caboose.json(p.hoa_fee_yn                  ) %>, width: 600 }, 
      { name: 'hoa_term'                        , nice_name: 'hoa_term'                        , type: 'text', value: <%= raw Caboose.json(p.hoa_term                    ) %>, width: 600 }, 
      { name: 'income_gross'                    , nice_name: 'income_gross'                    , type: 'text', value: <%= raw Caboose.json(p.income_gross                ) %>, width: 600 }, 
      { name: 'income_net'                      , nice_name: 'income_net'                      , type: 'text', value: <%= raw Caboose.json(p.income_net                  ) %>, width: 600 }, 
      { name: 'income_other'                    , nice_name: 'income_other'                    , type: 'text', value: <%= raw Caboose.json(p.income_other                ) %>, width: 600 }, 
      { name: 'income_rental'                   , nice_name: 'income_rental'                   , type: 'text', value: <%= raw Caboose.json(p.income_rental               ) %>, width: 600 }, 
      { name: 'internet_yn'                     , nice_name: 'internet_yn'                     , type: 'text', value: <%= raw Caboose.json(p.internet_yn                 ) %>, width: 600 }, 
      { name: 'la_code'                         , nice_name: 'la_code'                         , type: 'text', value: <%= raw Caboose.json(p.la_code                     ) %>, width: 600 }, 
      { name: 'leased_through'                  , nice_name: 'leased_through'                  , type: 'text', value: <%= raw Caboose.json(p.leased_through              ) %>, width: 600 }, 
      { name: 'legal_block'                     , nice_name: 'legal_block'                     , type: 'text', value: <%= raw Caboose.json(p.legal_block                 ) %>, width: 600 }, 
      { name: 'legal_lot'                       , nice_name: 'legal_lot'                       , type: 'text', value: <%= raw Caboose.json(p.legal_lot                   ) %>, width: 600 }, 
      { name: 'legals'                          , nice_name: 'legals'                          , type: 'text', value: <%= raw Caboose.json(p.legals                      ) %>, width: 600 }, 
      { name: 'list_date'                       , nice_name: 'list_date'                       , type: 'text', value: <%= raw Caboose.json(p.list_date                   ) %>, width: 600 }, 
      { name: 'list_price'                      , nice_name: 'list_price'                      , type: 'text', value: <%= raw Caboose.json(p.list_price                  ) %>, width: 600 }, 
      { name: 'listing_type'                    , nice_name: 'listing_type'                    , type: 'text', value: <%= raw Caboose.json(p.listing_type                ) %>, width: 600 }, 
      { name: 'lo_code'                         , nice_name: 'lo_code'                         , type: 'text', value: <%= raw Caboose.json(p.lo_code                     ) %>, width: 600 }, 
      { name: 'lockbox_yn'                      , nice_name: 'lockbox_yn'                      , type: 'text', value: <%= raw Caboose.json(p.lockbox_yn                  ) %>, width: 600 }, 
      { name: 'lot_dimensions'                  , nice_name: 'lot_dimensions'                  , type: 'text', value: <%= raw Caboose.json(p.lot_dimensions              ) %>, width: 600 }, 
      { name: 'lot_dimensions_source'           , nice_name: 'lot_dimensions_source'           , type: 'text', value: <%= raw Caboose.json(p.lot_dimensions_source       ) %>, width: 600 }, 
      { name: 'media_flag'                      , nice_name: 'media_flag'                      , type: 'text', value: <%= raw Caboose.json(p.media_flag                  ) %>, width: 600 }, 
      { name: 'middle_school'                   , nice_name: 'middle_school'                   , type: 'text', value: <%= raw Caboose.json(p.middle_school               ) %>, width: 600 }, 
      //{ name: 'mls_acct'                        , nice_name: 'mls_acct'                        , type: 'text', value: <%= raw Caboose.json(p.mls_acct                    ) %>, width: 600 }, 
      { name: 'municipality'                    , nice_name: 'municipality'                    , type: 'text', value: <%= raw Caboose.json(p.municipality                ) %>, width: 600 }, 
      { name: 'num_units'                       , nice_name: 'num_units'                       , type: 'text', value: <%= raw Caboose.json(p.num_units                   ) %>, width: 600 }, 
      { name: 'num_units_occupied'              , nice_name: 'num_units_occupied'              , type: 'text', value: <%= raw Caboose.json(p.num_units_occupied          ) %>, width: 600 }, 
      { name: 'off_mkt_date'                    , nice_name: 'off_mkt_date'                    , type: 'text', value: <%= raw Caboose.json(p.off_mkt_date                ) %>, width: 600 }, 
      { name: 'off_mkt_days'                    , nice_name: 'off_mkt_days'                    , type: 'text', value: <%= raw Caboose.json(p.off_mkt_days                ) %>, width: 600 }, 
      { name: 'office_notes'                    , nice_name: 'office_notes'                    , type: 'text', value: <%= raw Caboose.json(p.office_notes                ) %>, width: 600 }, 
      { name: 'orig_lp'                         , nice_name: 'orig_lp'                         , type: 'text', value: <%= raw Caboose.json(p.orig_lp                     ) %>, width: 600 }, 
      { name: 'other_fee'                       , nice_name: 'other_fee'                       , type: 'text', value: <%= raw Caboose.json(p.other_fee                   ) %>, width: 600 }, 
      { name: 'other_fee_type'                  , nice_name: 'other_fee_type'                  , type: 'text', value: <%= raw Caboose.json(p.other_fee_type              ) %>, width: 600 }, 
      { name: 'owner_name'                      , nice_name: 'owner_name'                      , type: 'text', value: <%= raw Caboose.json(p.owner_name                  ) %>, width: 600 }, 
      { name: 'owner_phone'                     , nice_name: 'owner_phone'                     , type: 'text', value: <%= raw Caboose.json(p.owner_phone                 ) %>, width: 600 }, 
      { name: 'parcel_id'                       , nice_name: 'parcel_id'                       , type: 'text', value: <%= raw Caboose.json(p.parcel_id                   ) %>, width: 600 }, 
      { name: 'pending_date'                    , nice_name: 'pending_date'                    , type: 'text', value: <%= raw Caboose.json(p.pending_date                ) %>, width: 600 }, 
      { name: 'photo_count'                     , nice_name: 'photo_count'                     , type: 'text', value: <%= raw Caboose.json(p.photo_count                 ) %>, width: 600 }, 
      { name: 'photo_date_modified'             , nice_name: 'photo_date_modified'             , type: 'text', value: <%= raw Caboose.json(p.photo_date_modified         ) %>, width: 600 }, 
      { name: 'photo_description'               , nice_name: 'photo_description'               , type: 'text', value: <%= raw Caboose.json(p.photo_description           ) %>, width: 600 }, 
      { name: 'photo_instr'                     , nice_name: 'photo_instr'                     , type: 'text', value: <%= raw Caboose.json(p.photo_instr                 ) %>, width: 600 }, 
      { name: 'posession'                       , nice_name: 'posession'                       , type: 'text', value: <%= raw Caboose.json(p.posession                   ) %>, width: 600 }, 
      { name: 'price_change_date'               , nice_name: 'price_change_date'               , type: 'text', value: <%= raw Caboose.json(p.price_change_date           ) %>, width: 600 }, 
      { name: 'price_sqft'                      , nice_name: 'price_sqft'                      , type: 'text', value: <%= raw Caboose.json(p.price_sqft                  ) %>, width: 600 }, 
      { name: 'proj_close_date'                 , nice_name: 'proj_close_date'                 , type: 'text', value: <%= raw Caboose.json(p.proj_close_date             ) %>, width: 600 }, 
      { name: 'prop_desc'                       , nice_name: 'prop_desc'                       , type: 'text', value: <%= raw Caboose.json(p.prop_desc                   ) %>, width: 600 }, 
      { name: 'prop_id'                         , nice_name: 'prop_id'                         , type: 'text', value: <%= raw Caboose.json(p.prop_id                     ) %>, width: 600 }, 
      { name: 'prop_type'                       , nice_name: 'prop_type'                       , type: 'text', value: <%= raw Caboose.json(p.prop_type                   ) %>, width: 600 }, 
      { name: 'remarks'                         , nice_name: 'remarks'                         , type: 'text', value: <%= raw Caboose.json(p.remarks                     ) %>, width: 600 }, 
      { name: 'road_frontage_ft'                , nice_name: 'road_frontage_ft'                , type: 'text', value: <%= raw Caboose.json(p.road_frontage_ft            ) %>, width: 600 }, 
      { name: 'sa_code'                         , nice_name: 'sa_code'                         , type: 'text', value: <%= raw Caboose.json(p.sa_code                     ) %>, width: 600 }, 
      { name: 'sale_lease'                      , nice_name: 'sale_lease'                      , type: 'text', value: <%= raw Caboose.json(p.sale_lease                  ) %>, width: 600 }, 
      { name: 'sale_notes'                      , nice_name: 'sale_notes'                      , type: 'text', value: <%= raw Caboose.json(p.sale_notes                  ) %>, width: 600 }, 
      { name: 'so_code'                         , nice_name: 'so_code'                         , type: 'text', value: <%= raw Caboose.json(p.so_code                     ) %>, width: 600 }, 
      { name: 'sold_date'                       , nice_name: 'sold_date'                       , type: 'text', value: <%= raw Caboose.json(p.sold_date                   ) %>, width: 600 }, 
      { name: 'sold_price'                      , nice_name: 'sold_price'                      , type: 'text', value: <%= raw Caboose.json(p.sold_price                  ) %>, width: 600 }, 
      { name: 'sold_terms'                      , nice_name: 'sold_terms'                      , type: 'text', value: <%= raw Caboose.json(p.sold_terms                  ) %>, width: 600 }, 
      { name: 'sqft_source'                     , nice_name: 'sqft_source'                     , type: 'text', value: <%= raw Caboose.json(p.sqft_source                 ) %>, width: 600 }, 
      { name: 'state'                           , nice_name: 'state'                           , type: 'text', value: <%= raw Caboose.json(p.state                       ) %>, width: 600 }, 
      { name: 'status'                          , nice_name: 'status'                          , type: 'text', value: <%= raw Caboose.json(p.status                      ) %>, width: 600 }, 
      { name: 'status_date'                     , nice_name: 'status_date'                     , type: 'text', value: <%= raw Caboose.json(p.status_date                 ) %>, width: 600 }, 
      { name: 'status_flag'                     , nice_name: 'status_flag'                     , type: 'text', value: <%= raw Caboose.json(p.status_flag                 ) %>, width: 600 }, 
      { name: 'street'                          , nice_name: 'street'                          , type: 'text', value: <%= raw Caboose.json(p.street                      ) %>, width: 600 }, 
      { name: 'street_dir'                      , nice_name: 'street_dir'                      , type: 'text', value: <%= raw Caboose.json(p.street_dir                  ) %>, width: 600 }, 
      { name: 'street_name'                     , nice_name: 'street_name'                     , type: 'text', value: <%= raw Caboose.json(p.street_name                 ) %>, width: 600 }, 
      { name: 'street_num'                      , nice_name: 'street_num'                      , type: 'text', value: <%= raw Caboose.json(p.street_num                  ) %>, width: 600 }, 
      { name: 'sub_agent'                       , nice_name: 'sub_agent'                       , type: 'text', value: <%= raw Caboose.json(p.sub_agent                   ) %>, width: 600 }, 
      { name: 'sub_agent_type'                  , nice_name: 'sub_agent_type'                  , type: 'text', value: <%= raw Caboose.json(p.sub_agent_type              ) %>, width: 600 }, 
      { name: 'sub_area'                        , nice_name: 'sub_area'                        , type: 'text', value: <%= raw Caboose.json(p.sub_area                    ) %>, width: 600 }, 
      { name: 'subdivision'                     , nice_name: 'subdivision'                     , type: 'text', value: <%= raw Caboose.json(p.subdivision                 ) %>, width: 600 }, 
      { name: 'take_photo_yn'                   , nice_name: 'take_photo_yn'                   , type: 'text', value: <%= raw Caboose.json(p.take_photo_yn               ) %>, width: 600 }, 
      { name: 'third_party_comm_yn'             , nice_name: 'third_party_comm_yn'             , type: 'text', value: <%= raw Caboose.json(p.third_party_comm_yn         ) %>, width: 600 }, 
      { name: 'tot_heat_sqft'                   , nice_name: 'tot_heat_sqft'                   , type: 'text', value: <%= raw Caboose.json(p.tot_heat_sqft               ) %>, width: 600 }, 
      { name: 'tour_date'                       , nice_name: 'tour_date'                       , type: 'text', value: <%= raw Caboose.json(p.tour_date                   ) %>, width: 600 }, 
      { name: 'tour_submit_date'                , nice_name: 'tour_submit_date'                , type: 'text', value: <%= raw Caboose.json(p.tour_submit_date            ) %>, width: 600 }, 
      { name: 'type_detailed'                   , nice_name: 'type_detailed'                   , type: 'text', value: <%= raw Caboose.json(p.type_detailed               ) %>, width: 600 }, 
      { name: 'u1_dims'                         , nice_name: 'u1_dims'                         , type: 'text', value: <%= raw Caboose.json(p.u1_dims                     ) %>, width: 600 }, 
      { name: 'u1_free_standing_yn'             , nice_name: 'u1_free_standing_yn'             , type: 'text', value: <%= raw Caboose.json(p.u1_free_standing_yn         ) %>, width: 600 }, 
      { name: 'u1_sqft_manuf'                   , nice_name: 'u1_sqft_manuf'                   , type: 'text', value: <%= raw Caboose.json(p.u1_sqft_manuf               ) %>, width: 600 }, 
      { name: 'u1_sqft_office'                  , nice_name: 'u1_sqft_office'                  , type: 'text', value: <%= raw Caboose.json(p.u1_sqft_office              ) %>, width: 600 }, 
      { name: 'u1_sqft_retail'                  , nice_name: 'u1_sqft_retail'                  , type: 'text', value: <%= raw Caboose.json(p.u1_sqft_retail              ) %>, width: 600 }, 
      { name: 'u1_sqft_total'                   , nice_name: 'u1_sqft_total'                   , type: 'text', value: <%= raw Caboose.json(p.u1_sqft_total               ) %>, width: 600 }, 
      { name: 'u1_sqft_warehouse'               , nice_name: 'u1_sqft_warehouse'               , type: 'text', value: <%= raw Caboose.json(p.u1_sqft_warehouse           ) %>, width: 600 }, 
      { name: 'u1_year_built'                   , nice_name: 'u1_year_built'                   , type: 'text', value: <%= raw Caboose.json(p.u1_year_built               ) %>, width: 600 }, 
      { name: 'u2_dims'                         , nice_name: 'u2_dims'                         , type: 'text', value: <%= raw Caboose.json(p.u2_dims                     ) %>, width: 600 }, 
      { name: 'u2_free_standing_yn'             , nice_name: 'u2_free_standing_yn'             , type: 'text', value: <%= raw Caboose.json(p.u2_free_standing_yn         ) %>, width: 600 }, 
      { name: 'u2_sqft_manuf'                   , nice_name: 'u2_sqft_manuf'                   , type: 'text', value: <%= raw Caboose.json(p.u2_sqft_manuf               ) %>, width: 600 }, 
      { name: 'u2_sqft_office'                  , nice_name: 'u2_sqft_office'                  , type: 'text', value: <%= raw Caboose.json(p.u2_sqft_office              ) %>, width: 600 }, 
      { name: 'u2_sqft_retail'                  , nice_name: 'u2_sqft_retail'                  , type: 'text', value: <%= raw Caboose.json(p.u2_sqft_retail              ) %>, width: 600 }, 
      { name: 'u2_sqft_total'                   , nice_name: 'u2_sqft_total'                   , type: 'text', value: <%= raw Caboose.json(p.u2_sqft_total               ) %>, width: 600 }, 
      { name: 'u2_sqft_warehouse'               , nice_name: 'u2_sqft_warehouse'               , type: 'text', value: <%= raw Caboose.json(p.u2_sqft_warehouse           ) %>, width: 600 }, 
      { name: 'u2_year_built'                   , nice_name: 'u2_year_built'                   , type: 'text', value: <%= raw Caboose.json(p.u2_year_built               ) %>, width: 600 }, 
      { name: 'u3_dims'                         , nice_name: 'u3_dims'                         , type: 'text', value: <%= raw Caboose.json(p.u3_dims                     ) %>, width: 600 }, 
      { name: 'u3_free_standing_yn'             , nice_name: 'u3_free_standing_yn'             , type: 'text', value: <%= raw Caboose.json(p.u3_free_standing_yn         ) %>, width: 600 }, 
      { name: 'u3_sqft_manuf'                   , nice_name: 'u3_sqft_manuf'                   , type: 'text', value: <%= raw Caboose.json(p.u3_sqft_manuf               ) %>, width: 600 }, 
      { name: 'u3_sqft_office'                  , nice_name: 'u3_sqft_office'                  , type: 'text', value: <%= raw Caboose.json(p.u3_sqft_office              ) %>, width: 600 }, 
      { name: 'u3_sqft_retail'                  , nice_name: 'u3_sqft_retail'                  , type: 'text', value: <%= raw Caboose.json(p.u3_sqft_retail              ) %>, width: 600 }, 
      { name: 'u3_sqft_total'                   , nice_name: 'u3_sqft_total'                   , type: 'text', value: <%= raw Caboose.json(p.u3_sqft_total               ) %>, width: 600 }, 
      { name: 'u3_sqft_warehouse'               , nice_name: 'u3_sqft_warehouse'               , type: 'text', value: <%= raw Caboose.json(p.u3_sqft_warehouse           ) %>, width: 600 }, 
      { name: 'u3_year_built'                   , nice_name: 'u3_year_built'                   , type: 'text', value: <%= raw Caboose.json(p.u3_year_built               ) %>, width: 600 }, 
      { name: 'unit_num'                        , nice_name: 'unit_num'                        , type: 'text', value: <%= raw Caboose.json(p.unit_num                    ) %>, width: 600 }, 
      { name: 'upload_source'                   , nice_name: 'upload_source'                   , type: 'text', value: <%= raw Caboose.json(p.upload_source               ) %>, width: 600 }, 
      { name: 'vacancy_rate'                    , nice_name: 'vacancy_rate'                    , type: 'text', value: <%= raw Caboose.json(p.vacancy_rate                ) %>, width: 600 }, 
      { name: 'vacant_yn'                       , nice_name: 'vacant_yn'                       , type: 'text', value: <%= raw Caboose.json(p.vacant_yn                   ) %>, width: 600 }, 
      { name: 'valuation_yn'                    , nice_name: 'valuation_yn'                    , type: 'text', value: <%= raw Caboose.json(p.valuation_yn                ) %>, width: 600 }, 
      { name: 'vt_yn'                           , nice_name: 'vt_yn'                           , type: 'text', value: <%= raw Caboose.json(p.vt_yn                       ) %>, width: 600 }, 
      { name: 'waterfront_yn'                   , nice_name: 'waterfront_yn'                   , type: 'text', value: <%= raw Caboose.json(p.waterfront_yn               ) %>, width: 600 }, 
      { name: 'withdrawn_date'                  , nice_name: 'withdrawn_date'                  , type: 'text', value: <%= raw Caboose.json(p.withdrawn_date              ) %>, width: 600 }, 
      { name: 'year_built'                      , nice_name: 'year_built'                      , type: 'text', value: <%= raw Caboose.json(p.year_built                  ) %>, width: 600 }, 
      { name: 'zip'                             , nice_name: 'zip'                             , type: 'text', value: <%= raw Caboose.json(p.zip                         ) %>, width: 600 }, 
      { name: 'zoning_northport'                , nice_name: 'zoning_northport'                , type: 'text', value: <%= raw Caboose.json(p.zoning_northport            ) %>, width: 600 }, 
      { name: 'zoning_tusc'                     , nice_name: 'zoning_tusc'                     , type: 'text', value: <%= raw Caboose.json(p.zoning_tusc                 ) %>, width: 600 }
    ]
  });
});

<% end %>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});
</script>
<% end %>
