<% p = @property %>

<% content_for :caboose_css do %>
  <style type="text/css">
  .realtor_info { background-color: white; padding: 10px; margin-bottom: 20px; text-align: center; border: 1px solid #d0d0d0;}
  </style>
<% end %>

<div class="l-wrapper">
  <div class="l-section">
    <div class="l-sidebar-border inflate-tenor-baritone">
      <div class="sidebar-aside">
        <% if @agent %>
          <div class="realtor_info">
            <h4>Advantage Agent</h4>
            <img src="https://s3.amazonaws.com/advantagerealtygroup.com/agents/<%= @agent.id %>_thumb.jpg?<%= DateTime.now.strftime('%F') %>" alt="<%= @agent.first_name %> <%= @agent.last_name %>" />
            <br />
            <a href="/agents/<%= @agent.la_code %>"><%= @agent.first_name %> <%= @agent.last_name %></a><br>
            <a href="tel:<%= @agent.car_phone %>"><%= @agent.car_phone %></a>
          </div>
        <% end %>
        <% if p.sale_lease %>
          <h4 class="h-type-highlight"><%= p.sale_lease %></h4>
        <% end %>
        
        <address class="h-type-h5">
          <% if p.street_num && p.street_name %> <%= p.street_num %> <%= p.street_name %> <% end %><br />
          <%= p.city %>, <%= p.state %> <% if p.zip != '0' %> <%= p.zip %>
        </address>
        
        <p id="price" class="h-space-mvs h-type-highlight h-type-h4"><%=h number_to_currency(p.current_price, :precision => 0) %></p>
        
        <% if p.sale_lease %>
          <p id="mls" class="h-space-mvs h-type-highlight h-type-h4">MLS #<%=p.mls_acct%></p>
        <% end %>

        <% if p.street_num && p.street_name && p.city && p.state && p.zip %>
          <div class="m-map-small h-border h-space-mbm" address="<%=p.street_num%> <%=p.street_name%> <%=p.city%>, <%=p.state%> <%=p.zip%>"></div>
        <% end %>

        
        
        <h4 class="h-space-mvt">Directions</h4>
        <p class="paragraph"><%=p.directions%></p>
        
        <% if @agent %>
           <h4 class="h-space-mvt">Contact <%= @agent.first_name %> <%= @agent.last_name %> </h4>
        <% else %>
           <h4 class="h-space-mvt">Contact Advantage</h4>
        <% end %>
        
        <%= form_for @message, :url => "/contact/create", :html => {:class => "m-form", :'accept-charset' => "utf-8", :method => "POST" } do |f| %>
          
          <%= f.text_field :name, :placeholder => "Name", :value => "", :id => "contact_name", :maxlength => "150" %>
          <%= f.text_field :email, :placeholder => "Email", :value => "", :id => "contact_addres", :maxlength => "150" %>
          <%= f.text_area :body, :placeholder => "Message", :cols => "50", :rows => "4", :id => "contact_message", :class => "contact_message" %>

                        <p class="h-space-mvs">
                  Please enter the word you see in the image below:
                  <img src="/images/captchas/1374955003.9265.jpg" width="140" height="30" style="border:0;" alt=" " />
              </p>
              <p><input type="text" name="captcha" /></p>
                    
          <input class="m-btn-red btn-large h-float-right h-space-mts" type="submit" value="Send" />
        <% end %>       
      </div> <!-- .sidebar-aside -->
      
      <div class="sidebar-body">
        <% tiny_img = "https://s3.amazonaws.com/advantagerealtygroup.com/residential/#{@property.mls_acct}_%d_tiny.jpg" %> 
        <% large_img = "https://s3.amazonaws.com/advantagerealtygroup.com/residential/#{@property.mls_acct}_%d_large.jpg" %>
              
        <% if p.sale_lease %>
          <figure class="m-banner" style="background-image: url('https://s3.amazonaws.com/advantagerealtygroup.com/commercial/<%= p.mls_acct %>_1_thumb.jpg');"> <!-- url(rets_images/$category/{$mls}_1.jpg) -->
            <figure class="banner-sub" style="background-image: url(http://placehold.it/480x320); display:none;"></figure> <!-- url(rets_images/$category/{$mls}_2.jpg) -->
          </figure> <!-- .m-banner -->
        <% else %>
          <div class="photos" style="text-align: center;">
            <% if @property.photo_count.to_i >= 1 %>
              <a class="photo" style="display: block; margin: 25px;" href="<%= large_img % 1 %>"><img src="<%= large_img % 1 %>"/></a>
              <div style="display: block;">
                <% (2..@property.photo_count.to_i).each do |i| %>
                  <% if i != 2 && (i - 2) % 8 == 0 %></div><div style="display: block;"><% end %>
                  <a class="photo" style="float: left; display: block; width: 12.5%; padding: 2px;" href="<%= large_img % i %>">
                    <img style="display: block; width: 100%;" src="<%= tiny_img % i %>"/>
                  </a>
                <% end %>
              </div>
            <% end %>
          </div>
          <div style="clear: both;"></div>
        <% end %>

        <p class="paragraph"><%=p.remarks%></p>
        
        <h4 class="h-type-standard h-type-highlight h-type-caps">Property Details</h4>
        
        <ul class="m-list-bullet h-space-mts">
          <% if p.price_sqft != "" %><li><strong>Square Footage</strong>: <%=h number_to_currency p.price_sqft%></li><% end %>
          <% if p.acreage != "" %><li><strong>Acreage</strong>: <%=p.acreage%></li><% end %>
        </ul> <!-- .m-list-bullet -->
        
        <h4 class="h-type-standard h-type-highlight h-type-caps h-space-mts">Additional Info</h4>
        
        <ul>
          <li><strong>Interior</strong>: <%=p.ftr_interior%></li>
          <li><strong>Cooling</strong>: <%=p.ftr_cooling%></li>
          <li><strong>Heating</strong>: <%=p.ftr_heating%></li>
          <li><strong>Year Built</strong>: <%=p.year_built%></li>
        </ul>
        <br>
        <% if p.virtual_tour %><a href='<%= p.virtual_tour %>' target='_blank'>Virtual Tour</a><% end %>

        <a data-pin-do="buttonPin" data-pin-config="beside" href="//pinterest.com/pin/create/button/?url=<%= request.original_url %>&amp;media=<%= large_img % 1 %>" ></a>
      </div> <!-- .sidebar-body -->
    </div> <!-- .l-sidebar -->
  </div> <!-- .body-section -->
</div> <!-- .l-wrapper -->
<% end %>


<div class="body-sink"></div>

<% content_for :caboose_js do %>
  <%= javascript_include_tag '//assets.pinterest.com/js/pinit.js' %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.photo').colorbox({rel:'photo'});
    });

    <% unless flash[:notice].blank? %>
      alert('<%= flash[:notice] %>');
    <% end %>
  </script>
<% end %>