<div class="l-wrapper">
  <div class="l-sidebar-border inflate-tenor-baritone h-space-pvm">   
    <div class="sidebar-body l-grid-border">
      <p></p>
      <a class="m-btn" href="/search/commercial">Search Commercial Listings</a>
      <div class="l-grid inflate-baritone-bass listing">

<% if @properties.nil? || @properties == [] %>
  <div class='no-results'>No results found</div>
<% else %>
  <% @properties.each do |p| %>
    <div class='grid-row'>
      <div class='grid-unit-1of4 list-part' id='list1'>
        <a href="/commercial/<%= p.mls_acct %>/details"><img src='https://s3.amazonaws.com/advantagerealtygroup.com/commercial/<%= p.mls_acct %>_1_thumb.jpg' width="400" /></a><br>
        <div id='list-meta'>
          <span class='address'><%= p.street_num %> <%= p.street_name.titleize %></span><br> <!-- , {city}, {state} {zip} -->      
        </div>
      </div>    
      <div class='grid-unit-1of4 list-part' id='list2'>
        <% if p.current_price != 0 %>
          <span class='price'><%=h number_to_currency(p.current_price, :precision => 0) %></span><br>
        <% end %>      
        <div class="info-meta">
          <% if p.price_sqft != "" %>
            <span class='list-info'>Price/Sq. ft: <span class='sqftprice'><%=h number_to_currency p.price_sqft %></span></span><br>
          <% end %>
        </div>      
        <span>MLS#: <%= p.mls_acct %></span>
      </div>
      <div class='grid-unit-1of4 list-part' id='list3'>
        <div class='desc-container'><span class='description'><%= p.remarks %></span></div>
      </div>
      <div class='grid-unit-1of4 list-part' id='list4'>
        <a href="/commercial/<%= p.mls_acct %>/details" class="m-btn-ornate">
          <div class="btn-inner see-more">MORE DETAILS</div>
        </a>
        <br>
        <% if p.lo_code == '46' && p.agent %>
          <a href="/agents/<%=p.agent.la_code %>" class="m-btn-ornate">
            <div class="btn-inner contact-btn">Contact <%= p.agent.first_name.titleize %> <%= p.agent.last_name.titleize %></div>
          </a>
        <% else %>
          <a href="/agents/048540000" class="m-btn-ornate"><div class="btn-inner contact-btn">Contact Advantage</div></a>
        <% end %>
        <br>
        <% if p.virtual_tour %>
          <a href="<%= p.virtual_tour %>" class="m-btn-ornate"><div class="btn-inner contact-btn">Take Virtual Tour</div></a>
        <% end %>
      </div>  
    </div>  
  <% end %>
  <%= @gen.generate.html_safe %>
<% end %>

      </div>
    </div> <!-- .sidebar-body -->
  </div> <!-- .l-sidebar -->
</div> <!-- .l-wrapper -->

<% content_for :caboose_js do %>
<script type='text/javascript'>
  function toTitleCase(str) {
    return str.replace(/\w\S*/g, function(txt) {
      if (txt != "of" && txt != "<br>") {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
      } else {
        return txt
      }
    });
  }

  $.fn.digits = function(){ 
    return this.each(function(){ 
      $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
    });
  }
  function precise_round(num, decimals){
    return Math.round(num * Math.pow(10, decimals)) / Math.pow(10,decimals);
  }
  $('.price').digits()
  $.each($(".sqftprice")        , function() { $(this).text(precise_round($(this).text(),2)) });
  //$.each($(".advantage_agent")  , function() { $(this).text(toTitleCase($(this).text())) });
  //$.each($(".contact-btn")      , function() { $(this).text(toTitleCase($(this).text())) });
  //$.each($(".address")          , function() { $(this).text(toTitleCase($(this).text())) });
  //$.each($(".school")           , function() { $(this).text(toTitleCase($(this).text())) });
</script>
<% end %>
