<%
p = @property
%>
<h1>Edit Property</h1>

<p>
<input type='button' class="caboose-btn" value='Back' onclick="window.location='/admin/properties';" />
<input type='button' class="caboose-btn" value='Manually Refresh from MLS' onclick="refresh_property_from_mls('<%= p.id %>');" />
</p>

<div style="margin:0 0 20px 0;min-height:36px;">
	<div id="property_<%= @property.id %>_alternate_link"></div>
</div>


<div id='message'><%= raw flash[:message] ? flash[:message] : "" %></div>

<table class='data'>
<tr><td><%= 'acreage'.titleize %></td><td><%= p.acreage %></td></tr>
<tr><td><%= 'acreage_source'.titleize %></td><td><%= p.acreage_source %></td></tr>
<tr><td><%= 'annual_taxes'.titleize %></td><td><%= p.annual_taxes %></td></tr>
<tr><td><%= 'appliances'.titleize %></td><td><%= p.appliances %></td></tr>
<tr><td><%= 'area'.titleize %></td><td><%= p.area %></td></tr>
<tr><td><%= 'available_date'.titleize %></td><td><%= p.available_date %></td></tr>
<tr><td><%= 'basement'.titleize %></td><td><%= p.basement %></td></tr>
<tr><td><%= 'baths_full'.titleize %></td><td><%= p.baths_full %></td></tr>
<tr><td><%= 'baths_half'.titleize %></td><td><%= p.baths_half %></td></tr>
<tr><td><%= 'baths_total'.titleize %></td><td><%= p.baths_total %></td></tr>
<tr><td><%= 'beds_total'.titleize %></td><td><%= p.beds_total %></td></tr>
<tr><td><%= 'book_number'.titleize %></td><td><%= p.book_number %></td></tr>
<tr><td><%= 'business_included_yn'.titleize %></td><td><%= p.business_included_yn %></td></tr>
<tr><td><%= 'buyer_name'.titleize %></td><td><%= p.buyer_name %></td></tr>
<tr><td><%= 'city'.titleize %></td><td><%= p.city %></td></tr>
<tr><td><%= 'city_community'.titleize %></td><td><%= p.city_community %></td></tr>
<tr><td><%= 'closing'.titleize %></td><td><%= p.closing %></td></tr>
<tr><td><%= 'co_list_agent_mui'.titleize %></td><td><%= p.co_list_agent_mui %></td></tr>
<tr><td><%= 'co_list_agent_direct_work_phone'.titleize %></td><td><%= p.co_list_agent_direct_work_phone %></td></tr>
<tr><td><%= 'co_list_agent_email'.titleize %></td><td><%= p.co_list_agent_email %></td></tr>
<tr><td><%= 'co_list_agent_full_name'.titleize %></td><td><%= p.co_list_agent_full_name %></td></tr>
<tr><td><%= 'co_list_agent_mls_id'.titleize %></td><td><%= p.co_list_agent_mls_id %></td></tr>
<tr><td><%= 'co_list_office_mui'.titleize %></td><td><%= p.co_list_office_mui %></td></tr>
<tr><td><%= 'co_list_office_mls_id'.titleize %></td><td><%= p.co_list_office_mls_id %></td></tr>
<tr><td><%= 'co_list_office_name'.titleize %></td><td><%= p.co_list_office_name %></td></tr>
<tr><td><%= 'co_list_office_phone'.titleize %></td><td><%= p.co_list_office_phone %></td></tr>
<tr><td><%= 'construction'.titleize %></td><td><%= p.construction %></td></tr>
<tr><td><%= 'construction_status'.titleize %></td><td><%= p.construction_status %></td></tr>
<tr><td><%= 'cooling'.titleize %></td><td><%= p.cooling %></td></tr>
<tr><td><%= 'county_or_parish'.titleize %></td><td><%= p.county_or_parish %></td></tr>
<tr><td><%= 'directions'.titleize %></td><td><%= p.directions %></td></tr>
<tr><td><%= 'display_address_on_internet_yn'.titleize %></td><td><%= p.display_address_on_internet_yn %></td></tr>
<tr><td><%= 'elementary_school'.titleize %></td><td><%= p.elementary_school %></td></tr>
<tr><td><%= 'exists_struct'.titleize %></td><td><%= p.exists_struct %></td></tr>
<tr><td><%= 'expenses_insurance'.titleize %></td><td><%= p.expenses_insurance %></td></tr>
<tr><td><%= 'expenses_maintenance'.titleize %></td><td><%= p.expenses_maintenance %></td></tr>
<tr><td><%= 'expenses_management'.titleize %></td><td><%= p.expenses_management %></td></tr>
<tr><td><%= 'expenses_other'.titleize %></td><td><%= p.expenses_other %></td></tr>
<tr><td><%= 'expenses_tax'.titleize %></td><td><%= p.expenses_tax %></td></tr>
<tr><td><%= 'exterior_features'.titleize %></td><td><%= p.exterior_features %></td></tr>
<tr><td><%= 'fireplace'.titleize %></td><td><%= p.fireplace %></td></tr>
<tr><td><%= 'flooring'.titleize %></td><td><%= p.flooring %></td></tr>
<tr><td><%= 'garage'.titleize %></td><td><%= p.garage %></td></tr>
<tr><td><%= 'heating'.titleize %></td><td><%= p.heating %></td></tr>
<tr><td><%= 'high_school'.titleize %></td><td><%= p.high_school %></td></tr>
<tr><td><%= 'hoa_amenities'.titleize %></td><td><%= p.hoa_amenities %></td></tr>
<tr><td><%= 'hoa_fee'.titleize %></td><td><%= p.hoa_fee %></td></tr>
<tr><td><%= 'hoa_included_in_rent_yn'.titleize %></td><td><%= p.hoa_included_in_rent_yn %></td></tr>
<tr><td><%= 'hoa_term'.titleize %></td><td><%= p.hoa_term %></td></tr>
<tr><td><%= 'hoa_term_mandatory_yn'.titleize %></td><td><%= p.hoa_term_mandatory_yn %></td></tr>
<tr><td><%= 'income_other'.titleize %></td><td><%= p.income_other %></td></tr>
<tr><td><%= 'interior_features'.titleize %></td><td><%= p.interior_features %></td></tr>
<tr><td><%= 'land_features_extras'.titleize %></td><td><%= p.land_features_extras %></td></tr>
<tr><td><%= 'latitude'.titleize %></td><td><%= p.latitude %></td></tr>
<tr><td><%= 'laundry'.titleize %></td><td><%= p.laundry %></td></tr>
<tr><td><%= 'legal_description'.titleize %></td><td><%= p.legal_description %></td></tr>
<tr><td><%= 'legal_lot'.titleize %></td><td><%= p.legal_lot %></td></tr>
<tr><td><%= 'legal_section'.titleize %></td><td><%= p.legal_section %></td></tr>
<tr><td><%= 'levels'.titleize %></td><td><%= p.levels %></td></tr>
<tr><td><%= 'list_agent_mui'.titleize %></td><td><%= p.list_agent_mui %></td></tr>
<tr><td><%= 'list_agent_direct_work_phone'.titleize %></td><td><%= p.list_agent_direct_work_phone %></td></tr>
<tr><td><%= 'list_agent_email'.titleize %></td><td><%= p.list_agent_email %></td></tr>
<tr><td><%= 'list_agent_full_name'.titleize %></td><td><%= p.list_agent_full_name %></td></tr>
<tr><td><%= 'list_agent_mls_id'.titleize %></td><td><%= p.list_agent_mls_id %></td></tr>
<tr><td><%= 'listing_contract_date'.titleize %></td><td><%= p.listing_contract_date %></td></tr>
<tr><td><%= 'list_office_mui'.titleize %></td><td><%= p.list_office_mui %></td></tr>
<tr><td><%= 'list_office_mls_id'.titleize %></td><td><%= p.list_office_mls_id %></td></tr>
<tr><td><%= 'list_office_name'.titleize %></td><td><%= p.list_office_name %></td></tr>
<tr><td><%= 'list_office_phone'.titleize %></td><td><%= p.list_office_phone %></td></tr>
<tr><td><%= 'list_price'.titleize %></td><td><%= p.list_price %></td></tr>
<tr><td><%= 'longitude'.titleize %></td><td><%= p.longitude %></td></tr>
<tr><td><%= 'lot_description'.titleize %></td><td><%= p.lot_description %></td></tr>
<tr><td><%= 'lot_dimensions'.titleize %></td><td><%= p.lot_dimensions %></td></tr>
<tr><td><%= 'lot_dim_source'.titleize %></td><td><%= p.lot_dim_source %></td></tr>
<tr><td><%= 'matrix_unique_id'.titleize %></td><td><%= p.matrix_unique_id %></td></tr>
<tr><td><%= 'matrix_modified_dt'.titleize %></td><td><%= p.matrix_modified_dt %></td></tr>
<tr><td><%= 'max_sqft'.titleize %></td><td><%= p.max_sqft %></td></tr>
<tr><td><%= 'middle_school'.titleize %></td><td><%= p.middle_school %></td></tr>
<tr><td><%= 'min_sqft'.titleize %></td><td><%= p.min_sqft %></td></tr>
<tr><td><%= 'misc_indoor_featuresa'.titleize %></td><td><%= p.misc_indoor_featuresa %></td></tr>
<tr><td><%= 'mls'.titleize %></td><td><%= p.mls %></td></tr>
<tr><td><%= 'mls_number'.titleize %></td><td><%= p.mls_number %></td></tr>
<tr><td><%= 'net_op_inc'.titleize %></td><td><%= p.net_op_inc %></td></tr>
<tr><td><%= 'original_entry_timestamp'.titleize %></td><td><%= p.original_entry_timestamp %></td></tr>
<tr><td><%= 'parcel_number'.titleize %></td><td><%= p.parcel_number %></td></tr>
<tr><td><%= 'pending_date'.titleize %></td><td><%= p.pending_date %></td></tr>
<tr><td><%= 'pets_allowed_yn'.titleize %></td><td><%= p.pets_allowed_yn %></td></tr>
<tr><td><%= 'photo_count'.titleize %></td><td><%= p.photo_count %></td></tr>
<tr><td><%= 'photo_modification_timestamp'.titleize %></td><td><%= p.photo_modification_timestamp %></td></tr>
<tr><td><%= 'pool'.titleize %></td><td><%= p.pool %></td></tr>
<tr><td><%= 'porch_patio'.titleize %></td><td><%= p.porch_patio %></td></tr>
<tr><td><%= 'possession'.titleize %></td><td><%= p.possession %></td></tr>
<tr><td><%= 'possible_uses'.titleize %></td><td><%= p.possible_uses %></td></tr>
<tr><td><%= 'postal_code'.titleize %></td><td><%= p.postal_code %></td></tr>
<tr><td><%= 'postal_code_plus4'.titleize %></td><td><%= p.postal_code_plus4 %></td></tr>
<tr><td><%= 'property_subtype'.titleize %></td><td><%= p.property_subtype %></td></tr>
<tr><td><%= 'property_type'.titleize %></td><td><%= p.property_type %></td></tr>
<tr><td><%= 'property_use'.titleize %></td><td><%= p.property_use %></td></tr>
<tr><td><%= 'prop_mgmt_comp'.titleize %></td><td><%= p.prop_mgmt_comp %></td></tr>
<tr><td><%= 'public_remarks'.titleize %></td><td><%= p.public_remarks %></td></tr>
<tr><td><%= 'rental_rate_type'.titleize %></td><td><%= p.rental_rate_type %></td></tr>
<tr><td><%= 'rent_incl'.titleize %></td><td><%= p.rent_incl %></td></tr>
<tr><td><%= 'res_style'.titleize %></td><td><%= p.res_style %></td></tr>
<tr><td><%= 'road_frontage'.titleize %></td><td><%= p.road_frontage %></td></tr>
<tr><td><%= 'roof'.titleize %></td><td><%= p.roof %></td></tr>
<tr><td><%= 'room_count'.titleize %></td><td><%= p.room_count %></td></tr>
<tr><td><%= 'sewer'.titleize %></td><td><%= p.sewer %></td></tr>
<tr><td><%= 'sold_terms'.titleize %></td><td><%= p.sold_terms %></td></tr>
<tr><td><%= 'sqft_source'.titleize %></td><td><%= p.sqft_source %></td></tr>
<tr><td><%= 'sqft_total'.titleize %></td><td><%= p.sqft_total %></td></tr>
<tr><td><%= 'state_or_province'.titleize %></td><td><%= p.state_or_province %></td></tr>
<tr><td><%= 'status'.titleize %></td><td><%= p.status %></td></tr>
<tr><td><%= 'status_contractual_search_date'.titleize %></td><td><%= p.status_contractual_search_date %></td></tr>
<tr><td><%= 'street_dir_prefix'.titleize %></td><td><%= p.street_dir_prefix %></td></tr>
<tr><td><%= 'street_dir_suffix'.titleize %></td><td><%= p.street_dir_suffix %></td></tr>
<tr><td><%= 'street_name'.titleize %></td><td><%= p.street_name %></td></tr>
<tr><td><%= 'street_number'.titleize %></td><td><%= p.street_number %></td></tr>
<tr><td><%= 'street_number_numeric'.titleize %></td><td><%= p.street_number_numeric %></td></tr>
<tr><td><%= 'street_suffix'.titleize %></td><td><%= p.street_suffix %></td></tr>
<tr><td><%= 'style'.titleize %></td><td><%= p.style %></td></tr>
<tr><td><%= 'subdivision'.titleize %></td><td><%= p.subdivision %></td></tr>
<tr><td><%= 'topography'.titleize %></td><td><%= p.topography %></td></tr>
<tr><td><%= 'total_num_units'.titleize %></td><td><%= p.total_num_units %></td></tr>
<tr><td><%= 'total_num_units_occupied'.titleize %></td><td><%= p.total_num_units_occupied %></td></tr>
<tr><td><%= 'transaction_type'.titleize %></td><td><%= p.transaction_type %></td></tr>
<tr><td><%= 'unit_count'.titleize %></td><td><%= p.unit_count %></td></tr>
<tr><td><%= 'unit_number'.titleize %></td><td><%= p.unit_number %></td></tr>
<tr><td><%= 'utilities'.titleize %></td><td><%= p.utilities %></td></tr>
<tr><td><%= 'virtual_tour1'.titleize %></td><td><%= p.virtual_tour1 %></td></tr>
<tr><td><%= 'water'.titleize %></td><td><%= p.water %></td></tr>
<tr><td><%= 'waterfronts'.titleize %></td><td><%= p.waterfronts %></td></tr>
<tr><td><%= 'waterfront_yn'.titleize %></td><td><%= p.waterfront_yn %></td></tr>
<tr><td><%= 'windows'.titleize %></td><td><%= p.windows %></td></tr>
<tr><td><%= 'year_built'.titleize %></td><td><%= p.year_built %></td></tr>
<tr><td><%= 'yr_blt_source'.titleize %></td><td><%= p.yr_blt_source %></td></tr>
<tr><td><%= 'zoning'.titleize %></td><td><%= p.zoning %></td></tr>
</table><br />

<% content_for :caboose_css do %>
<style>
	table.data {
		    width: calc(100% - 30px);
	}
	table.data tr td {
		font-size: 14px !important; 
	}
	table.data tr td:first-of-type {
		width: 230px;
	}
</style>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

function refresh_property_from_mls(mls)
{
  $("#message").html("<p class='loading'>Refreshing property info and images from MLS...</p>");
  $.ajax({
    url: '/admin/properties/' + mls + '/refresh',
    success: function(resp) {
      if (resp.error)   $("#message").html("<p class='note error'>"   + resp.error   + "</p>");
      if (resp.success) $("#message").html("<p class='note success'>" + resp.success + "</p>");
    }
  });
}

$(window).load(function() {
  m = new ModelBinder({
    name: 'Property',
    id: <%= @property.id %>,
    update_url: '/admin/properties/<%= @property.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'alternate_link', nice_name: 'Alternate Link', type: 'text', value: <%== Caboose.json(@property.alternate_link) %>, width: 500 }
    ]
  });  
});
</script>
<% end %>
