<h1>Edit Agent</h1>
<%= render :partial => 'agents/admin_top_nav' %>

<div id='agent_<%= @agent.id %>_bio'></div>

<p style='clear: both;'><input type='button' value='< Back' onclick="window.location='/admin/agents';" /></p>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>
$(document).ready(function() {
  m = new ModelBinder({
    name: 'Agent',
    id: <%= @agent.id %>,
    update_url: '/admin/agents/<%= @agent.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [{ 
      name: 'bio',
      nice_name: 'Bio',
      type: 'textarea',
      value: <%= raw Caboose.json(@agent.bio) %>,
      width: 600, 
      height: 250 
    }]
  });
});
$(window).load(function() {
  var modal = new CabooseModal(800);
});
</script>
<% end %>
