<h1>Edit Agent</h1>
<%= render :partial => 'caboose_rets/agents/admin_top_nav' %>

<p>
<input type='button' value='< Back' onclick="window.location='/admin/agents';" />
<input type='button' value='Refresh from MLS' onclick="refresh_agent_from_mls(<%= @agent.id %>);" />
</p>
<div id='message'><%= raw flash[:message] ? flash[:message] : "" %></div>

<table class='data'>
<tr><td>beeper_phone        </td><td><%= @agent.beeper_phone        %></td></tr> 
<tr><td>car_phone           </td><td><%= @agent.car_phone           %></td></tr> 
<tr><td>date_created        </td><td><%= @agent.date_created        %></td></tr> 
<tr><td>date_modified       </td><td><%= @agent.date_modified       %></td></tr> 
<tr><td>defaultemail        </td><td><%= @agent.defaultemail        %></td></tr> 
<tr><td>fax_phone           </td><td><%= @agent.fax_phone           %></td></tr> 
<tr><td>first_name          </td><td><%= @agent.first_name          %></td></tr> 
<tr><td>home_phone          </td><td><%= @agent.home_phone          %></td></tr> 
<tr><td>la_code             </td><td><%= @agent.la_code             %></td></tr> 
<tr><td>last_name           </td><td><%= @agent.last_name           %></td></tr> 
<tr><td>lo_code             </td><td><%= @agent.lo_code             %></td></tr> 
<tr><td>mail_addr1          </td><td><%= @agent.mail_addr1          %></td></tr> 
<tr><td>mail_addr2          </td><td><%= @agent.mail_addr2          %></td></tr> 
<tr><td>mail_city           </td><td><%= @agent.mail_city           %></td></tr> 
<tr><td>mail_state          </td><td><%= @agent.mail_state          %></td></tr> 
<tr><td>mail_zip            </td><td><%= @agent.mail_zip            %></td></tr> 
<tr><td>member_email        </td><td><%= @agent.member_email        %></td></tr> 
<tr><td>member_page         </td><td><%= @agent.member_page         %></td></tr> 
<tr><td>member_status       </td><td><%= @agent.member_status       %></td></tr> 
<tr><td>nrds_id             </td><td><%= @agent.nrds_id             %></td></tr> 
<tr><td>office_phone        </td><td><%= @agent.office_phone        %></td></tr> 
<tr><td>other_phone         </td><td><%= @agent.other_phone         %></td></tr> 
<tr><td>phone_change_date   </td><td><%= @agent.phone_change_date   %></td></tr> 
<tr><td>phone_direct_office </td><td><%= @agent.phone_direct_office %></td></tr> 
<tr><td>phone_home_fax      </td><td><%= @agent.phone_home_fax      %></td></tr> 
<tr><td>phone_pager         </td><td><%= @agent.phone_pager         %></td></tr> 
<tr><td>phone_second_home   </td><td><%= @agent.phone_second_home   %></td></tr> 
<tr><td>phone_toll_free     </td><td><%= @agent.phone_toll_free     %></td></tr> 
<tr><td>phone_voice_mail    </td><td><%= @agent.phone_voice_mail    %></td></tr> 
<tr><td>phone_voice_pager   </td><td><%= @agent.phone_voice_pager   %></td></tr> 
<tr><td>photo_count         </td><td><%= @agent.photo_count         %></td></tr> 
<tr><td>photo_date_modified </td><td><%= @agent.photo_date_modified %></td></tr>  
</table>

<p><input type='button' value='< Back' onclick="window.location='/admin/agents';" /></p>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

function refresh_agent_from_mls(agent_id)
{
  //modal.autosize("<p class='loading'>Refreshing agent info from MLS...</p>");
  $.ajax({
    url: '/admin/agents/' + agent_id + '/refresh',
    success: function(resp) {
      if (resp.error)
        modal.autosize("<p class='note error'>" + resp.error + "</p>");
      if (resp.reload)
        location.reload();    
    }
  });
}

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});

</script>
<% end %>
