<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <style>
        	@media only screen and (max-width: 480px) {
        		 #templateColumns{
		            width: 100% !important;
		        }
		        .templateColumnContainer{
		            display: block !important;
		            width: 100% !important;
		            padding: 10px !important;
		        }
        	}
        </style>
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="20" cellspacing="0" width="800" id="emailContainer">
                        <tr>
                            <td align="center" valign="top">
                                


<div style="text-align:center;margin-bottom:20px;padding:20px;background-color:<%= @color %>;">
	<a style="display:inline-block;text-decoration:none;" href="<%= @url %>" target="_blank">
		<img style="display:block;margin:0;" src="<%= @logo_url %>" alt="<%= @site.description %>" width="220" />
	</a>
</div>

<div style="text-align:center;padding:20px;">
	<h2>New and Suggested Listings</h2>
	
	<% if @new_listings.count > 0 %>
		<h3>New Listings</h3>
		<% @new_listings.each do |prop| %>
			<%== render :partial => "caboose_rets/rets_mailer/property_row", :locals => { :p => prop, :url => @domain } %>
		<% end %>
		<div style="padding:10px 10px 40px 10px;text-align:center;">
			<a style="display:inline-block;border-radius:5px;background:<%= @color %>;color:#fff;padding:5px 15px;line-height:30px;text-decoration:none;font-size:15px;" target="_blank" href="<%= @url %>">See More New Listings</a>
		</div>
	<% end %>

	<% if @related_listings.count > 0 %>
		<h3>Suggested Listings</h3>
		<% @related_listings.each do |prop| %>
			<%== render :partial => "caboose_rets/rets_mailer/property_row", :locals => { :p => prop, :url => @domain } %>
		<% end %>
		<div style="padding:10px 10px 40px 10px;text-align:center;">
			<a style="display:inline-block;border-radius:5px;background:<%= @color %>;color:#fff;padding:5px 15px;line-height:30px;text-decoration:none;font-size:15px;" target="_blank" href="<%= @domain %>/saved-properties">See My Saved Listings</a>
		</div>
	<% end %>

</div>

<div style="text-align:center;margin-top:20px;padding:20px;background-color:<%= @color %>;">
	<p style="margin:0;font-size:13px;">
		<a style="color:#fff;text-decoration:none;font-size:13px;display:inline-block;" target="_blank" href="<%= @unsubscribe_url %>">
			Unsubscribe
		</a>
	</p>
</div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>

