<%= render :partial => 'caboose/users/admin_header' %>

<h3 style="margin:0;">MLS Profile</h3>

<div class="mb-holder">
  <p><div id='user_<%= @edituser.id %>_rets_agent_mls_id' ></div></p>
  <% if @edituser.date_created %><p>Date Registered: <%= @edituser.date_created.in_time_zone('Central Time (US & Canada)').strftime('%B %-d, %Y, %l:%M%P') %></p><% end %>
</div>

<% if @saved.count > 0 %>
  <h3 class="sp">Saved Properties</h3>
  <ul class="saved">
    <% @saved.each do |sp| %>
      <% prop = CabooseRets::Property.where(:mls_number => sp.mls_number).first %>
      <% next if prop.nil? || prop.status != 'Active' %>
      <li>
        <a href="/properties/<%= sp.mls_number %>/details" target="_blank">MLS #<%= sp.mls_number %> - <%= prop.full_address %></a>
        <% if !sp.date_saved.blank? %><span> - saved on <%= sp.date_saved.in_time_zone('Central Time (US & Canada)').strftime('%B %-d, %Y, %l:%M%P') %></span><% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @emails.count > 0 %>
  <h3 class="sp">Emails Sent</h3>
  <ul class="saved">
    <% @emails.each do |em| %>
      <li>
        <strong><%= em.kind %></strong>
        <span>- sent on <%= em.date_sent.in_time_zone('Central Time (US & Canada)').strftime('%B %-d, %Y, %l:%M%P') %></span>
        <% if !em.message.blank? %>
          <p><%== em.message.gsub("\n","<br />") %></p>
        <% elsif em.object_kind == 'Property' && em.object_id %>
          <p><a href="/properties/<%= em.object_id %>/details" target="_blank">MLS # <%= em.object_id %></a>, 
            <% if em.kind.include?('Price') %>
              Old Price: <%= number_to_currency(em.old_value, :precision => 0) %> -> New Price: <%= number_to_currency(em.new_value, :precision => 0) %>
            <% else %>
              Old Status: <%= em.old_value %> -> New Status: <%= em.new_value %>
            <% end %>
          </p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => 'caboose/users/admin_footer' %>

<% content_for :caboose_css do %>
  <style>
    h3.sp {
      margin: 30px 0 10px 0;
    }
    ul.saved {
      margin: 0;
      padding-left: 0;
      list-style-type: none;
    }
    ul.saved li {
      display: block;
      margin-bottom: 5px;
    }
    ul.saved li a {
      text-decoration: none;
      color: #3939a7;
    }
    ul.saved li a:hover {
      color: #59a739;
    }
    ul.saved li p {
      margin: 3px 0 0 0;
      color:  #3e3e3e;
      font-size:  13px;
    }
    ul.saved li a {
      text-decoration: none;
    }
  </style>
<% end %>


<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

$(document).ready(function() {
  new ModelBinder({
    name: 'User',
    id: <%= @edituser.id %>,
    update_url: '/admin/users/<%= @edituser.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'rets_agent_mls_id' , nice_name: 'Assigned Agent', type: 'select' , value: <%= raw Caboose.json(@edituser.rets_agent_mls_id) %>, width: 400, options_url: '/admin/agents/options' }
    ]    
  });  
});

</script>
<% end %>