
<%= render :partial => 'caboose_rets/residential/search_form' %>

<div class='listings'>
  <% if @properties.nil? || @properties == [] %>
    <div class='no-results'>No results found</div>
  <% else %>
    <ul>
    <% @properties.each do |p| %>
      <li>
        <% if p.images && p.images.count > 0 %>
          <div class='image'><a href="/residential/<%= p.mls_acct %>/details"><img src="<%= p.images[0].url(:thumb) %>" /></a></div>
        <% end %>
        <div class="address"><% if !p.unit_num.nil? && p.unit_num.strip.length > 0 %>Unit <%= p.unit_num %>, <% end %><%= p.street_num %> <%= p.street_name.titleize %></div>                  
        <% if p.agent %>
          <div class="agent">
            Listing Courtesy of <%= p.agent.first_name.titleize %> <%= p.agent.last_name.titleize %>
            <% if p.office %> with <%= p.office.name.titleize %><% end %>
          </div>
        <% end %>        
        <% if p.current_price != 0    %><span class='price'       >$<%= p.current_price %></span><% end %>
        <% if p.foreclosure_yn == 'Y' %><span class='foreclosure' >(Foreclosure)</span><% end %>
        <ul class="meta">
          <li class='sq_footage' ><label>Sq. footage:  </label><span><%= p.tot_heat_sqft %></span></li>
          <li class='bedrooms'   ><label>Bedrooms:     </label><span><%= p.bedrooms      %></span></li>
          <li class='full_baths' ><label>Full baths:   </label><span><%= p.baths_full    %></span></li>
          <li class='half_baths' ><label>Half baths:   </label><span><%= p.baths_half    %></span></li>
        </div>        
        <ul class='schools'>          
          <li><label>Elementary: </label><span><%= p.elem_school.titleize   %><span></li>
          <li><label>Middle:     </label><span><%= p.middle_school.titleize %><span></li>
          <li><label>High:       </label><span><%= p.high_school.titleize   %><span></li>
        </ul>
        <div class='mls_acct'><label>MLS#: </label><span><%= p.mls_acct %></span></div>
        <div class='remarks'><%= p.remarks %></div>                
        <div class='more_details'><a href='/residential/<%= p.mls_acct %>/details'>MORE DETAILS</a></div>
        <% if p.agent || p.office %>        
          <div class='contact lo_code_<%= p.lo_code %>'>Contact 
            <% if p.agent %><a href="/agents/<%= p.la_code %>"><%= p.agent.first_name.titleize %> <%= p.agent.last_name.titleize %></a>
            <% else       %><a href="/offices/<%= p.lo_code %>"><%= p.office.name %></a><% end %>            
          </div>
        <% end %>
        <% if p.virtual_tour %><div class='virtual_tour'><a href="<%= p.virtual_tour %>">Take Virtual Tour</a></div><% end %>
      </li>      
    <% end %>
    </ul>
    <%= @gen.generate.html_safe %>
  <% end %>
</div>
