<%
p = @property
%>
<h1>Edit Land Property</h1>

<p>
<input type='button' value='< Back' onclick="window.location='/admin/land';" />
<input type='button' value='Manually Refresh from MLS' onclick="refresh_property_from_mls('<%= p.mls_acct %>');" />
</p>
<div id='message'></div>

<table class='data'>
<tr><td>acreage                    </td><td><%= p.acreage                    %></td></tr>   
<tr><td>acreage_source             </td><td><%= p.acreage_source             %></td></tr>
<tr><td>adjoining_land_use         </td><td><%= p.adjoining_land_use         %></td></tr>
<tr><td>agent_notes                </td><td><%= p.agent_notes                %></td></tr>
<tr><td>agent_other_contact_desc   </td><td><%= p.agent_other_contact_desc   %></td></tr>
<tr><td>agent_other_contact_phone  </td><td><%= p.agent_other_contact_phone  %></td></tr>
<tr><td>annual_taxes               </td><td><%= p.annual_taxes               %></td></tr>
<tr><td>area                       </td><td><%= p.area                       %></td></tr>
<tr><td>bom_date                   </td><td><%= p.bom_date                   %></td></tr>
<tr><td>book_number                </td><td><%= p.book_number                %></td></tr>
<tr><td>book_page                  </td><td><%= p.book_page                  %></td></tr>
<tr><td>book_type                  </td><td><%= p.book_type                  %></td></tr>
<tr><td>buyer_broker               </td><td><%= p.buyer_broker               %></td></tr>
<tr><td>buyer_broker_type          </td><td><%= p.buyer_broker_type          %></td></tr>
<tr><td>buyer_name                 </td><td><%= p.buyer_name                 %></td></tr>
<tr><td>category                   </td><td><%= p.category                   %></td></tr>
<tr><td>city                       </td><td><%= p.city                       %></td></tr>
<tr><td>city_code                  </td><td><%= p.city_code                  %></td></tr>
<tr><td>co_la_code                 </td><td><%= p.co_la_code                 %></td></tr>
<tr><td>co_lo_code                 </td><td><%= p.co_lo_code                 %></td></tr>
<tr><td>co_sa_code                 </td><td><%= p.co_sa_code                 %></td></tr>
<tr><td>co_so_code                 </td><td><%= p.co_so_code                 %></td></tr>
<tr><td>contacts                   </td><td><%= p.contacts                   %></td></tr>
<tr><td>contr_broker               </td><td><%= p.contr_broker               %></td></tr>
<tr><td>contr_broker_type          </td><td><%= p.contr_broker_type          %></td></tr>
<tr><td>converted                  </td><td><%= p.converted                  %></td></tr>
<tr><td>county                     </td><td><%= p.county                     %></td></tr>
<tr><td>current_price              </td><td><%= p.current_price              %></td></tr>
<tr><td>date_created               </td><td><%= p.date_created               %></td></tr>
<tr><td>date_modified              </td><td><%= p.date_modified              %></td></tr>
<tr><td>df_yn                      </td><td><%= p.df_yn                      %></td></tr>
<tr><td>directions                 </td><td><%= p.directions                 %></td></tr>
<tr><td>display_address_yn         </td><td><%= p.display_address_yn         %></td></tr>
<tr><td>dom                        </td><td><%= p.dom                        %></td></tr>
<tr><td>elem_school                </td><td><%= p.elem_school                %></td></tr>
<tr><td>expire_date                </td><td><%= p.expire_date                %></td></tr>
<tr><td>ftr_access                 </td><td><%= p.ftr_access                 %></td></tr>
<tr><td>ftr_docs_on_file           </td><td><%= p.ftr_docs_on_file           %></td></tr>
<tr><td>ftr_existing_struct        </td><td><%= p.ftr_existing_struct        %></td></tr>
<tr><td>ftr_extras                 </td><td><%= p.ftr_extras                 %></td></tr>
<tr><td>ftr_internet               </td><td><%= p.ftr_internet               %></td></tr>
<tr><td>ftr_lotdesc                </td><td><%= p.ftr_lotdesc                %></td></tr>
<tr><td>ftr_mineralrights          </td><td><%= p.ftr_mineralrights          %></td></tr>
<tr><td>ftr_possibleuse            </td><td><%= p.ftr_possibleuse            %></td></tr>
<tr><td>ftr_restrictions           </td><td><%= p.ftr_restrictions           %></td></tr>
<tr><td>ftr_sewer                  </td><td><%= p.ftr_sewer                  %></td></tr>
<tr><td>ftr_showing                </td><td><%= p.ftr_showing                %></td></tr>
<tr><td>ftr_terms                  </td><td><%= p.ftr_terms                  %></td></tr>
<tr><td>ftr_topography             </td><td><%= p.ftr_topography             %></td></tr>
<tr><td>ftr_utils                  </td><td><%= p.ftr_utils                  %></td></tr>
<tr><td>ftr_zoning                 </td><td><%= p.ftr_zoning                 %></td></tr>
<tr><td>geo_precision              </td><td><%= p.geo_precision              %></td></tr>
<tr><td>georesult                  </td><td><%= p.georesult                  %></td></tr>
<tr><td>high_school                </td><td><%= p.high_school                %></td></tr>
<tr><td>internet_yn                </td><td><%= p.internet_yn                %></td></tr>
<tr><td>la_code                    </td><td><%= p.la_code                    %></td></tr>
<tr><td>legal_block                </td><td><%= p.legal_block                %></td></tr>
<tr><td>legal_lot                  </td><td><%= p.legal_lot                  %></td></tr>
<tr><td>legal_section              </td><td><%= p.legal_section              %></td></tr>
<tr><td>legals                     </td><td><%= p.legals                     %></td></tr>
<tr><td>list_date                  </td><td><%= p.list_date                  %></td></tr>
<tr><td>list_price                 </td><td><%= p.list_price                 %></td></tr>
<tr><td>listing_type               </td><td><%= p.listing_type               %></td></tr>
<tr><td>lo_code                    </td><td><%= p.lo_code                    %></td></tr>
<tr><td>lot_dim_source             </td><td><%= p.lot_dim_source             %></td></tr>
<tr><td>lot_dimensions             </td><td><%= p.lot_dimensions             %></td></tr>
<tr><td>media_flag                 </td><td><%= p.media_flag                 %></td></tr>
<tr><td>middle_school              </td><td><%= p.middle_school              %></td></tr>
<tr><td>mls_acct                   </td><td><%= p.mls_acct                   %></td></tr>
<tr><td>municipality               </td><td><%= p.municipality               %></td></tr>
<tr><td>off_mkt_date               </td><td><%= p.off_mkt_date               %></td></tr>
<tr><td>off_mkt_days               </td><td><%= p.off_mkt_days               %></td></tr>
<tr><td>office_notes               </td><td><%= p.office_notes               %></td></tr>
<tr><td>orig_lp                    </td><td><%= p.orig_lp                    %></td></tr>
<tr><td>orig_price                 </td><td><%= p.orig_price                 %></td></tr>
<tr><td>other_fee                  </td><td><%= p.other_fee                  %></td></tr>
<tr><td>other_fee_type             </td><td><%= p.other_fee_type             %></td></tr>
<tr><td>owner_name                 </td><td><%= p.owner_name                 %></td></tr>
<tr><td>owner_phone                </td><td><%= p.owner_phone                %></td></tr>
<tr><td>parcel_id                  </td><td><%= p.parcel_id                  %></td></tr>
<tr><td>pending_date               </td><td><%= p.pending_date               %></td></tr>
<tr><td>photo_count                </td><td><%= p.photo_count                %></td></tr>
<tr><td>photo_date_modified        </td><td><%= p.photo_date_modified        %></td></tr>
<tr><td>price_change_date          </td><td><%= p.price_change_date          %></td></tr>
<tr><td>price_sqft                 </td><td><%= p.price_sqft                 %></td></tr>
<tr><td>proj_close_date            </td><td><%= p.proj_close_date            %></td></tr>
<tr><td>prop_id                    </td><td><%= p.prop_id                    %></td></tr>
<tr><td>prop_type                  </td><td><%= p.prop_type                  %></td></tr>
<tr><td>remarks                    </td><td><%= p.remarks                    %></td></tr>
<tr><td>road_frontage_ft           </td><td><%= p.road_frontage_ft           %></td></tr>
<tr><td>sa_code                    </td><td><%= p.sa_code                    %></td></tr>
<tr><td>sale_lease                 </td><td><%= p.sale_lease                 %></td></tr>
<tr><td>sale_notes                 </td><td><%= p.sale_notes                 %></td></tr>
<tr><td>so_code                    </td><td><%= p.so_code                    %></td></tr>
<tr><td>sold_date                  </td><td><%= p.sold_date                  %></td></tr>
<tr><td>sold_price                 </td><td><%= p.sold_price                 %></td></tr>
<tr><td>sold_terms                 </td><td><%= p.sold_terms                 %></td></tr>
<tr><td>state                      </td><td><%= p.state                      %></td></tr>
<tr><td>status                     </td><td><%= p.status                     %></td></tr>
<tr><td>status_date                </td><td><%= p.status_date                %></td></tr>
<tr><td>status_flag                </td><td><%= p.status_flag                %></td></tr>
<tr><td>street                     </td><td><%= p.street                     %></td></tr>
<tr><td>street_dir                 </td><td><%= p.street_dir                 %></td></tr>
<tr><td>street_name                </td><td><%= p.street_name                %></td></tr>
<tr><td>street_num                 </td><td><%= p.street_num                 %></td></tr>
<tr><td>sub_agent                  </td><td><%= p.sub_agent                  %></td></tr>
<tr><td>sub_agent_type             </td><td><%= p.sub_agent_type             %></td></tr>
<tr><td>subdivision                </td><td><%= p.subdivision                %></td></tr>
<tr><td>third_party_comm_yn        </td><td><%= p.third_party_comm_yn        %></td></tr>
<tr><td>unit_num                   </td><td><%= p.unit_num                   %></td></tr>
<tr><td>upload_source              </td><td><%= p.upload_source              %></td></tr>
<tr><td>valuation_yn               </td><td><%= p.valuation_yn               %></td></tr>
<tr><td>vt_yn                      </td><td><%= p.vt_yn                      %></td></tr>
<tr><td>waterfront                 </td><td><%= p.waterfront                 %></td></tr>
<tr><td>waterfront_yn              </td><td><%= p.waterfront_yn              %></td></tr>
<tr><td>wf_feet                    </td><td><%= p.wf_feet                    %></td></tr>
<tr><td>withdrawn_date             </td><td><%= p.withdrawn_date             %></td></tr>
<tr><td>zip                        </td><td><%= p.zip                        %></td></tr>
<tr><td>zoning_northport           </td><td><%= p.zoning_northport           %></td></tr>
<tr><td>zoning_tusc                </td><td><%= p.zoning_tusc                %></td></tr>
</table><br />

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

function refresh_property_from_mls(mls_acct)
{
  modal.autosize("<p class='loading'>Refreshing property info and images from MLS...</p>");
  $.ajax({
    url: '/admin/land/' + mls_acct + '/refresh',
    success: function(resp) {
      if (resp.error)   modal.autosize("<p class='note error'>"   + resp.error   + "</p>");
      if (resp.success) modal.autosize("<p class='note success'>" + resp.success + "</p>");          
    }
  });
}

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});
</script>
<% end %>
