<%
p = @property
%>
<h1>Multi-Family Property</h1>

<p>
<input type='button' value='< Back' onclick="window.location='/admin/multi-family';" />
<input type='button' value='Manually Refresh from MLS' onclick="refresh_property_from_mls('<%= p.mls_acct %>');" />
</p>
<div id='message'></div>

<table class='data'>
<tr><td>acreage                       </td><td><%= p.acreage                   %></td></tr>                  
<tr><td>agent_notes                   </td><td><%= p.agent_notes               %></td></tr>
<tr><td>agent_other_contact_desc      </td><td><%= p.agent_other_contact_desc  %></td></tr>
<tr><td>agent_other_contact_phone     </td><td><%= p.agent_other_contact_phone %></td></tr>
<tr><td>annual_taxes                  </td><td><%= p.annual_taxes              %></td></tr>
<tr><td>area                          </td><td><%= p.area                      %></td></tr>
<tr><td>bom_date                      </td><td><%= p.bom_date                  %></td></tr>
<tr><td>book_number                   </td><td><%= p.book_number               %></td></tr>
<tr><td>book_page                     </td><td><%= p.book_page                 %></td></tr>
<tr><td>book_type                     </td><td><%= p.book_type                 %></td></tr>
<tr><td>box_on_unit                   </td><td><%= p.box_on_unit               %></td></tr>
<tr><td>buyer_broker                  </td><td><%= p.buyer_broker              %></td></tr>
<tr><td>buyer_broker_type             </td><td><%= p.buyer_broker_type         %></td></tr>
<tr><td>buyer_name                    </td><td><%= p.buyer_name                %></td></tr>
<tr><td>category                      </td><td><%= p.category                  %></td></tr>
<tr><td>city                          </td><td><%= p.city                      %></td></tr>
<tr><td>city_code                     </td><td><%= p.city_code                 %></td></tr>
<tr><td>contacts                      </td><td><%= p.contacts                  %></td></tr>
<tr><td>contr_broker                  </td><td><%= p.contr_broker              %></td></tr>
<tr><td>contr_broker_type             </td><td><%= p.contr_broker_type         %></td></tr>
<tr><td>county                        </td><td><%= p.county                    %></td></tr>
<tr><td>co_la_code                    </td><td><%= p.co_la_code                %></td></tr>
<tr><td>co_lo_code                    </td><td><%= p.co_lo_code                %></td></tr>
<tr><td>co_sa_code                    </td><td><%= p.co_sa_code                %></td></tr>
<tr><td>co_so_code                    </td><td><%= p.co_so_code                %></td></tr>
<tr><td>current_price                 </td><td><%= p.current_price             %></td></tr>
<tr><td>date_created                  </td><td><%= p.date_created              %></td></tr>
<tr><td>date_leased                   </td><td><%= p.date_leased               %></td></tr>
<tr><td>date_modified                 </td><td><%= p.date_modified             %></td></tr>
<tr><td>df_yn                         </td><td><%= p.df_yn                     %></td></tr>
<tr><td>directions                    </td><td><%= p.directions                %></td></tr>
<tr><td>display_address_yn            </td><td><%= p.display_address_yn        %></td></tr>
<tr><td>dom                           </td><td><%= p.dom                       %></td></tr>
<tr><td>elem_school                   </td><td><%= p.elem_school               %></td></tr>
<tr><td>expenses_association          </td><td><%= p.expenses_association      %></td></tr>
<tr><td>expenses_insurance            </td><td><%= p.expenses_insurance        %></td></tr>
<tr><td>expenses_maintenance          </td><td><%= p.expenses_maintenance      %></td></tr>
<tr><td>expenses_management           </td><td><%= p.expenses_management       %></td></tr>
<tr><td>expenses_other                </td><td><%= p.expenses_other            %></td></tr>
<tr><td>expenses_tax                  </td><td><%= p.expenses_tax              %></td></tr>
<tr><td>expire_date                   </td><td><%= p.expire_date               %></td></tr>
<tr><td>flood_plain                   </td><td><%= p.flood_plain               %></td></tr>
<tr><td>ftr_building_type             </td><td><%= p.ftr_building_type         %></td></tr>
<tr><td>ftr_construction              </td><td><%= p.ftr_construction          %></td></tr>
<tr><td>ftr_cooling                   </td><td><%= p.ftr_cooling               %></td></tr>
<tr><td>ftr_exterior                  </td><td><%= p.ftr_exterior              %></td></tr>
<tr><td>ftr_exterioramenit            </td><td><%= p.ftr_exterioramenit        %></td></tr>
<tr><td>ftr_floors                    </td><td><%= p.ftr_floors                %></td></tr>
<tr><td>ftr_heating                   </td><td><%= p.ftr_heating               %></td></tr>
<tr><td>ftr_interior                  </td><td><%= p.ftr_interior              %></td></tr>
<tr><td>ftr_rent_incl                 </td><td><%= p.ftr_rent_incl             %></td></tr>
<tr><td>ftr_roof                      </td><td><%= p.ftr_roof                  %></td></tr>
<tr><td>ftr_roof_age                  </td><td><%= p.ftr_roof_age              %></td></tr>
<tr><td>ftr_showing                   </td><td><%= p.ftr_showing               %></td></tr>
<tr><td>ftr_utils                     </td><td><%= p.ftr_utils                 %></td></tr>
<tr><td>ftr_zoning                    </td><td><%= p.ftr_zoning                %></td></tr>
<tr><td>georesult                     </td><td><%= p.georesult                 %></td></tr>
<tr><td>geo_precision                 </td><td><%= p.geo_precision             %></td></tr>
<tr><td>high_school                   </td><td><%= p.high_school               %></td></tr>
<tr><td>hoa_fee                       </td><td><%= p.hoa_fee                   %></td></tr>
<tr><td>hoa_fee_yn                    </td><td><%= p.hoa_fee_yn                %></td></tr>
<tr><td>hoa_term                      </td><td><%= p.hoa_term                  %></td></tr>
<tr><td>income                        </td><td><%= p.income                    %></td></tr>
<tr><td>income_other                  </td><td><%= p.income_other              %></td></tr>
<tr><td>income_rent                   </td><td><%= p.income_rent               %></td></tr>
<tr><td>internet_yn                   </td><td><%= p.internet_yn               %></td></tr>
<tr><td>la_code                       </td><td><%= p.la_code                   %></td></tr>
<tr><td>legals                        </td><td><%= p.legals                    %></td></tr>
<tr><td>limited_service_yn            </td><td><%= p.limited_service_yn        %></td></tr>
<tr><td>listing_type                  </td><td><%= p.listing_type              %></td></tr>
<tr><td>list_date                     </td><td><%= p.list_date                 %></td></tr>
<tr><td>list_price                    </td><td><%= p.list_price                %></td></tr>
<tr><td>lot_dimensions                </td><td><%= p.lot_dimensions            %></td></tr>
<tr><td>lot_dimensions_source         </td><td><%= p.lot_dimensions_source     %></td></tr>
<tr><td>lo_code                       </td><td><%= p.lo_code                   %></td></tr>
<tr><td>management                    </td><td><%= p.management                %></td></tr>
<tr><td>media_flag                    </td><td><%= p.media_flag                %></td></tr>
<tr><td>middle_school                 </td><td><%= p.middle_school             %></td></tr>
<tr><td>mls_acct                      </td><td><%= p.mls_acct                  %></td></tr>
<tr><td>municipality                  </td><td><%= p.municipality              %></td></tr>
<tr><td>num_units                     </td><td><%= p.num_units                 %></td></tr>
<tr><td>num_units_occupied            </td><td><%= p.num_units_occupied        %></td></tr>
<tr><td>office_notes                  </td><td><%= p.office_notes              %></td></tr>
<tr><td>off_mkt_date                  </td><td><%= p.off_mkt_date              %></td></tr>
<tr><td>off_mkt_days                  </td><td><%= p.off_mkt_days              %></td></tr>
<tr><td>orig_lp                       </td><td><%= p.orig_lp                   %></td></tr>
<tr><td>orig_price                    </td><td><%= p.orig_price                %></td></tr>
<tr><td>other_fee                     </td><td><%= p.other_fee                 %></td></tr>
<tr><td>other_fee_type                </td><td><%= p.other_fee_type            %></td></tr>
<tr><td>owner_name                    </td><td><%= p.owner_name                %></td></tr>
<tr><td>owner_phone                   </td><td><%= p.owner_phone               %></td></tr>
<tr><td>parcel_id                     </td><td><%= p.parcel_id                 %></td></tr>
<tr><td>pending_date                  </td><td><%= p.pending_date              %></td></tr>
<tr><td>photo_count                   </td><td><%= p.photo_count               %></td></tr>
<tr><td>photo_date_modified           </td><td><%= p.photo_date_modified       %></td></tr>
<tr><td>price_change_date             </td><td><%= p.price_change_date         %></td></tr>
<tr><td>price_sqft                    </td><td><%= p.price_sqft                %></td></tr>
<tr><td>proj_close_date               </td><td><%= p.proj_close_date           %></td></tr>
<tr><td>prop_id                       </td><td><%= p.prop_id                   %></td></tr>
<tr><td>prop_type                     </td><td><%= p.prop_type                 %></td></tr>
<tr><td>remarks                       </td><td><%= p.remarks                   %></td></tr>
<tr><td>sale_notes                    </td><td><%= p.sale_notes                %></td></tr>
<tr><td>sale_rent                     </td><td><%= p.sale_rent                 %></td></tr>
<tr><td>sa_code                       </td><td><%= p.sa_code                   %></td></tr>
<tr><td>sold_date                     </td><td><%= p.sold_date                 %></td></tr>
<tr><td>sold_price                    </td><td><%= p.sold_price                %></td></tr>
<tr><td>sold_terms                    </td><td><%= p.sold_terms                %></td></tr>
<tr><td>so_code                       </td><td><%= p.so_code                   %></td></tr>
<tr><td>state                         </td><td><%= p.state                     %></td></tr>
<tr><td>status                        </td><td><%= p.status                    %></td></tr>
<tr><td>status_date                   </td><td><%= p.status_date               %></td></tr>
<tr><td>status_flag                   </td><td><%= p.status_flag               %></td></tr>
<tr><td>street                        </td><td><%= p.street                    %></td></tr>
<tr><td>street_dir                    </td><td><%= p.street_dir                %></td></tr>
<tr><td>street_name                   </td><td><%= p.street_name               %></td></tr>
<tr><td>street_num                    </td><td><%= p.street_num                %></td></tr>
<tr><td>subdivision                   </td><td><%= p.subdivision               %></td></tr>
<tr><td>sub_agent                     </td><td><%= p.sub_agent                 %></td></tr>
<tr><td>sub_agent_type                </td><td><%= p.sub_agent_type            %></td></tr>
<tr><td>third_party_comm_yn           </td><td><%= p.third_party_comm_yn       %></td></tr>
<tr><td>tot_heat_sqft                 </td><td><%= p.tot_heat_sqft             %></td></tr>
<tr><td>u1_baths                      </td><td><%= p.u1_baths                  %></td></tr>
<tr><td>u1_num                        </td><td><%= p.u1_num                    %></td></tr>
<tr><td>u1_occ                        </td><td><%= p.u1_occ                    %></td></tr>
<tr><td>u1_rent                       </td><td><%= p.u1_rent                   %></td></tr>
<tr><td>u1_sqft                       </td><td><%= p.u1_sqft                   %></td></tr>
<tr><td>u1_yn                         </td><td><%= p.u1_yn                     %></td></tr>
<tr><td>u2_baths                      </td><td><%= p.u2_baths                  %></td></tr>
<tr><td>u2_num                        </td><td><%= p.u2_num                    %></td></tr>
<tr><td>u2_occ                        </td><td><%= p.u2_occ                    %></td></tr>
<tr><td>u2_rent                       </td><td><%= p.u2_rent                   %></td></tr>
<tr><td>u2_sqft                       </td><td><%= p.u2_sqft                   %></td></tr>
<tr><td>u2_yn                         </td><td><%= p.u2_yn                     %></td></tr>
<tr><td>u3_baths                      </td><td><%= p.u3_baths                  %></td></tr>
<tr><td>u3_num                        </td><td><%= p.u3_num                    %></td></tr>
<tr><td>u3_occ                        </td><td><%= p.u3_occ                    %></td></tr>
<tr><td>u3_rent                       </td><td><%= p.u3_rent                   %></td></tr>
<tr><td>u3_sqft                       </td><td><%= p.u3_sqft                   %></td></tr>
<tr><td>u3_yn                         </td><td><%= p.u3_yn                     %></td></tr>
<tr><td>u4_baths                      </td><td><%= p.u4_baths                  %></td></tr>
<tr><td>u4_num                        </td><td><%= p.u4_num                    %></td></tr>
<tr><td>u4_occ                        </td><td><%= p.u4_occ                    %></td></tr>
<tr><td>u4_rent                       </td><td><%= p.u4_rent                   %></td></tr>
<tr><td>u4_sqft                       </td><td><%= p.u4_sqft                   %></td></tr>
<tr><td>u4_yn                         </td><td><%= p.u4_yn                     %></td></tr>
<tr><td>u5_baths                      </td><td><%= p.u5_baths                  %></td></tr>
<tr><td>u5_num                        </td><td><%= p.u5_num                    %></td></tr>
<tr><td>u5_occ                        </td><td><%= p.u5_occ                    %></td></tr>
<tr><td>u5_rent                       </td><td><%= p.u5_rent                   %></td></tr>
<tr><td>u5_sqft                       </td><td><%= p.u5_sqft                   %></td></tr>
<tr><td>u5_yn                         </td><td><%= p.u5_yn                     %></td></tr>
<tr><td>u6_baths                      </td><td><%= p.u6_baths                  %></td></tr>
<tr><td>u6_num                        </td><td><%= p.u6_num                    %></td></tr>
<tr><td>u6_occ                        </td><td><%= p.u6_occ                    %></td></tr>
<tr><td>u6_rent                       </td><td><%= p.u6_rent                   %></td></tr>
<tr><td>u6_sqft                       </td><td><%= p.u6_sqft                   %></td></tr>
<tr><td>u6_yn                         </td><td><%= p.u6_yn                     %></td></tr>
<tr><td>u7_baths                      </td><td><%= p.u7_baths                  %></td></tr>
<tr><td>u7_num                        </td><td><%= p.u7_num                    %></td></tr>
<tr><td>u7_occ                        </td><td><%= p.u7_occ                    %></td></tr>
<tr><td>u7_rent                       </td><td><%= p.u7_rent                   %></td></tr>
<tr><td>u7_sqft                       </td><td><%= p.u7_sqft                   %></td></tr>
<tr><td>u7_yn                         </td><td><%= p.u7_yn                     %></td></tr>
<tr><td>u8_num                        </td><td><%= p.u8_num                    %></td></tr>
<tr><td>u8_occ                        </td><td><%= p.u8_occ                    %></td></tr>
<tr><td>u8_rent                       </td><td><%= p.u8_rent                   %></td></tr>
<tr><td>u8_sqft                       </td><td><%= p.u8_sqft                   %></td></tr>
<tr><td>u8_yn                         </td><td><%= p.u8_yn                     %></td></tr>
<tr><td>unit_num                      </td><td><%= p.unit_num                  %></td></tr>
<tr><td>upload_source                 </td><td><%= p.upload_source             %></td></tr>
<tr><td>valuation_yn                  </td><td><%= p.valuation_yn              %></td></tr>
<tr><td>vt_yn                         </td><td><%= p.vt_yn                     %></td></tr>
<tr><td>withdrawn_date                </td><td><%= p.withdrawn_date            %></td></tr>
<tr><td>year_built                    </td><td><%= p.year_built                %></td></tr>
<tr><td>zip                           </td><td><%= p.zip                       %></td></tr>
</table><br />

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

function refresh_property_from_mls(mls_acct)
{
  modal.autosize("<p class='loading'>Refreshing property info and images from MLS...</p>");
  $.ajax({
    url: '/admin/multi-family/' + mls_acct + '/refresh',
    success: function(resp) {
      if (resp.error)   modal.autosize("<p class='note error'>"   + resp.error   + "</p>");
      if (resp.success) modal.autosize("<p class='note success'>" + resp.success + "</p>");          
    }
  });
}

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});
</script>
<% end %>
